<br>

# Book Recommendation System

<br>

<br>

#### Importing Required Libraries

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
import pickle

#### Reading Data

In [5]:
path = 'C:\\Users\\piyus\\GoogleDrive\\Data_Science\\Projects\\Recommendation System\\User Based\\Book_Recommendation_System\\Data\\'

books = pd.read_csv(path+'Books.csv')
ratings = pd.read_csv(path + 'Ratings.csv')
users = pd.read_csv(path + 'Users.csv')

In [6]:
display(books.head(), ratings.head(), users.head())

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
display(books.shape, ratings.shape, users.shape)

(271360, 8)

(1149780, 3)

(278858, 3)

**books**

- 1. ISBN :- Unique Number given to every book.



**ratings**

- 1. Book-Rating :- Rating Out of 10

#### Lowering Column Names

In [8]:
books.columns = books.columns.str.lower()

In [9]:
ratings.columns = ratings.columns.str.lower()

In [10]:
users.columns = users.columns.str.lower()

#### Rnaming Columns

In [11]:
books.rename(columns = {'book-title' : 'book_title', 
                        'book-author' : 'book_author',
                        'year-of-publication' : 'year_of_publication',
                        'image-url-s' : 'image_url_s',
                        'image-url-m' : 'image_url_m',
                        'image-url-l' : 'image_url_l'},
               inplace = True
            )

In [12]:
ratings.rename(columns = {'user-id' : 'user_id',
                          'book-rating' : 'book_rating'},
               inplace = True
              )

In [13]:
users.rename(columns = {'user-id' : 'user_id'},
             inplace = True
            )

#### Handling For Missing

In [14]:
books.isna().sum()

isbn                   0
book_title             0
book_author            1
year_of_publication    0
publisher              2
image_url_s            0
image_url_m            0
image_url_l            3
dtype: int64

In [15]:
# books.dropna(inplace = True)

In [16]:
ratings.isna().sum()

user_id        0
isbn           0
book_rating    0
dtype: int64

In [17]:
users.isna().sum()

user_id          0
location         0
age         110762
dtype: int64

#### Looking for Duplicates

- **Every Book is Unique.**

In [18]:
books.loc[books['isbn'].duplicated(), 'isbn'].value_counts()

Series([], Name: isbn, dtype: int64)

- **Single Book can be rated by multiple uasers.**

In [19]:
ratings.loc[ratings['isbn'].duplicated(), 'isbn'].value_counts()

0971880107    2501
0316666343    1294
0385504209     882
0060928336     731
0312195516     722
              ...
0863076645       1
0375757538       1
0722155999       1
3423129867       1
0380796155       1
Name: isbn, Length: 143511, dtype: int64

In [20]:
users.loc[ratings['user_id'].duplicated(), 'user_id'].value_counts()

5         1
185013    1
185018    1
185019    1
185020    1
         ..
92845     1
92846     1
92847     1
92848     1
278858    1
Name: user_id, Length: 253063, dtype: int64

<br>

<br>

### Popularity Based Recomendation

In [21]:
df = pd.merge(books, ratings, on = 'isbn', how = 'inner').drop(columns = ['isbn', 'publisher', 'image_url_s', 'image_url_l'])
df

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
0,Classical Mythology,Mark P. O. Morford,2002,http://images.amazon.com/images/P/0195153448.0...,2,0
1,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,8,5
2,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...
1031131,There's a Bat in Bunk Five,Paula Danziger,1988,http://images.amazon.com/images/P/0440400988.0...,276463,7
1031132,From One to One Hundred,Teri Sloat,1991,http://images.amazon.com/images/P/0525447644.0...,276579,4
1031133,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,http://images.amazon.com/images/P/006008667X.0...,276680,0
1031134,Republic (World's Classics),Plato,1996,http://images.amazon.com/images/P/0192126040.0...,276680,0
1031135,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,http://images.amazon.com/images/P/0767409752.0...,276680,0

- **Number of times book is rated > 200**

In [22]:
df.groupby(['book_title'])['book_rating'].count()

book_title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ã?Â?lpiraten.                                                                                                 2
Ã?Â?rger mit Produkt X. Roman.                                                                                4
Ã?Â?sterlich leben.                                                                                           1
Ã?Â?stlich der Berge.                                                                                         3
Ã?Â?thique en toc                                                                                             2
Name: book_rating, Length: 241071, dtype: int64

In [23]:
count_rating_title = df.groupby(['book_title'])['book_rating'].count().reset_index().rename(columns =
                                                                                            {'book_rating' : 'no_of_ratings'})
count_rating_title

                                               book_title  no_of_ratings
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241066                                      Ã?Â?lpiraten.              2
241067                     Ã?Â?rger mit Produkt X. Roman.              4
241068                                Ã?Â?sterlich leben.              1
241069                              Ã?Â?stlich der Berge.              3
241070                                  Ã?Â?thique en toc              2

[241071 rows x 2 columns]

In [24]:
count_rating_title[count_rating_title['no_of_ratings'] > 200]

                                               book_title  no_of_ratings
764                                                  1984            284
818                                   1st to Die: A Novel            509
1048                                           2nd Chance            356
1760                                   A Bend in the Road            346
2120                                       A Case of Need            236
...                                                   ...            ...
234951                                        Wild Animus           2502
236334                                      Wish You Well            234
236724                                    Without Remorse            203
240413  Zen and the Art of Motorcycle Maintenance: An ...            210
240860                                \O\" Is for Outlaw"            269

[293 rows x 2 columns]

- **Average rating for top book 50**

In [25]:
df.groupby(['book_title'])['book_rating'].mean()

book_title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2.250000
 Always Have Popsicles                                                                                        0.000000
 Apple Magic (The Collector's series)                                                                         0.000000
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         8.000000
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   0.000000
                                                                                                                ...
Ã?Â?lpiraten.                                                                                                 0.000000
Ã?Â?rger mit Produkt X. Roman.                                                                                5.250000
Ã?Â?sterlich leben.                                                                                           7.000000
Ã?Â?stlich der Berge.                                                                                         2.666667
Ã?Â?thique en toc                                                                                             4.000000
Name: book_rating, Length: 241071, dtype: float64

In [26]:
avg_rating_title = df.groupby(['book_title'])['book_rating'].mean().reset_index().rename(
    columns = {'book_rating' : 'avg_rating'})

In [27]:
popularity_df = pd.merge(count_rating_title, avg_rating_title, on = 'book_title', how = 'inner')

In [28]:
popularity_df.shape

(241071, 3)

- **Top 50 Books Sorted According to Average Rating**

In [29]:
popularity_df = popularity_df[popularity_df['no_of_ratings'] >= 250].sort_values(['avg_rating', 'no_of_ratings'],
                                                                                 ascending = False).head(50)

popularity_df

,book_title,no_of_ratings,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

- **Same Book has been rated by Multiple Users**

In [30]:
popularity_df = pd.merge(df, popularity_df, on = 'book_title', how = 'inner').sort_values(['avg_rating', 'no_of_ratings'],
                                                                          ascending = False).drop_duplicates(['book_title']).drop(columns = ['user_id', 'book_rating'])

In [31]:
popularity_df.shape

(50, 6)

In [32]:
popularity_df

,book_title,book_author,year_of_publication,image_url_m,no_of_ratings,avg_rating
17068,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
18906,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
15409,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
19293,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
16512,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16231,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
12315,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
13744,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
10128,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
0,To Kill a Mockingbird,Harper Lee,1988,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
8908,The Da Vinci Code,Dan Brown,2003,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
1234,The Five People You Meet in Heaven,Mitch Albom,2003,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
785,The Catcher in the Rye,J.D. Salinger,1991,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
4641,The Lovely Bones: A Novel,Alice Sebold,2002,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
13460,1984,George Orwell,1990,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
18653,Prodigal Summer: A Novel,Barbara Kingsolver,2001,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
11147,Neverwhere,Neil Gaiman,1998,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
3867,The Secret Life of Bees,Sue Monk Kidd,2003,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
15126,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,2002,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
14319,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,1997,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
6978,The Red Tent (Bestselling Backlist),Anita Diamant,1998,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
1664,The Hitchhiker's Guide to the Galaxy,Douglas Adams,1982,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
5936,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,2002,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
13208,Into the Wild,Jon Krakauer,1997,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
1932,Fahrenheit 451,Ray Bradbury,1994,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
2341,Girl with a Pearl Earring,Tracy Chevalier,2001,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
18370,Outlander,DIANA GABALDON,1996,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
8323,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
510,Seabiscuit: An American Legend,LAURA HILLENBRAND,2002,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
2867,Life of Pi,Yann Martel,2002,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
6589,The Bean Trees,Barbara Kingsolver,1989,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
15966,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,1995,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
15687,ANGELA'S ASHES,Frank McCourt,1996,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
11825,Good in Bed,Jennifer Weiner,2002,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
8002,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,2002,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
10845,American Gods,Neil Gaiman,2002,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
9806,Skipping Christmas,JOHN GRISHAM,2001,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
6271,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,1996,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
3531,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,2002,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
14812,The Color Purple,Alice Walker,1985,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
17852,Silence of the Lambs,Thomas Harris,1991,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
18108,About a Boy,Nick Hornby,1999,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
19909,Seven Up (A Stephanie Plum Novel),Janet Evanovich,2001,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
12683,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,1993,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
19640,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,2003,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
10388,Suzanne's Diary for Nicholas,James Patterson,2001,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
12949,Lord of the Flies,William Gerald Golding,1959,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
11412,A Prayer for Owen Meany,John Irving,1990,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
7701,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,1986,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
17496,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,2000,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

<br>

<br>

<br>

### User Based Recommendation System

<br>

- **Rows : Book Titles**


- **Columns : Users**


- **Values : Ratings**

- **Number of times book is rated > 200**

- **There are duplicate Users as well as Books**

In [33]:
df['user_id'].duplicated().value_counts()

True     939030
False     92106
Name: user_id, dtype: int64

In [34]:
df['book_title'].duplicated().value_counts()

True     790065
False    241071
Name: book_title, dtype: int64

- **User Must be a Pro User**

- **User who had read & rated  more than 200 Books.**

- **No of books every user read & rated.**

In [35]:
# No of books every user read & rated

df.groupby(['user_id']).count()

,book_title,book_author,year_of_publication,image_url_m,book_rating
user_id,,,,,
2,1,1,1,1,1
8,17,17,17,17,17
9,3,3,3,3,3
10,1,1,1,1,1
12,1,1,1,1,1
...,...,...,...,...,...
278846,1,1,1,1,1
278849,4,4,4,4,4
278851,23,23,23,23,23
278852,1,1,1,1,1
278854,8,8,8,8,8

In [36]:
df.groupby(['user_id'])['book_rating'].count()

user_id
2          1
8         17
9          3
10         1
12         1
          ..
278846     1
278849     4
278851    23
278852     1
278854     8
Name: book_rating, Length: 92106, dtype: int64

- **Contains Both True & False**

In [37]:
df.groupby('user_id')['book_rating'].count() > 200

user_id
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: book_rating, Length: 92106, dtype: bool

In [38]:
temp = df.groupby('user_id')['book_rating'].count() > 200
temp

user_id
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: book_rating, Length: 92106, dtype: bool

In [39]:
(df.groupby('user_id')['book_rating'].count() > 200).size

# temp.size

92106

In [40]:
(df.groupby('user_id')['book_rating'].count() > 200).value_counts()

# temp.value_counts()

False    91295
True       811
Name: book_rating, dtype: int64

In [41]:
(df.groupby('user_id')['book_rating'].count() > 200).index

# temp.index

Int64Index([     2,      8,      9,     10,     12,     14,     16,     17,
                19,     20,
            ...
            278832, 278836, 278838, 278843, 278844, 278846, 278849, 278851,
            278852, 278854],
           dtype='int64', name='user_id', length=92106)

- **Contains Only True**

In [42]:
# User_ID for Pro Users

temp[temp]

user_id
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: book_rating, Length: 811, dtype: bool

In [43]:
# No. of Pro Users

temp[temp].size

811

In [44]:
# User_ID for Pro Users

pro_user_id = temp[temp].index

In [45]:
pro_user_id

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='user_id', length=811)

In [46]:
# No. of Pro Users

pro_user_id.size

811

In [47]:
# Data of Pro Users

df[df['user_id'].isin(pro_user_id)]

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
3,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,http://images.amazon.com/images/P/0374157065.0...,110912,10
...,...,...,...,...,...,...
1031124,Slow Food(The Case For Taste),Carlo Petrini,2003,http://images.amazon.com/images/P/0231128444.0...,275970,0
1031125,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,http://images.amazon.com/images/P/0520242335.0...,275970,0
1031126,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,http://images.amazon.com/images/P/0762412119.0...,275970,0
1031127,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,http://images.amazon.com/images/P/1582380805.0...,275970,0
1031128,Cocktail Classics,David Biggs,2004,http://images.amazon.com/images/P/1845170423.0...,275970,7

In [48]:
df[df['user_id'] == 254]

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
6230,The Joy Luck Club,Amy Tan,1994,http://images.amazon.com/images/P/0804106304.0...,254,0
7478,The Catcher in the Rye,J.D. Salinger,1991,http://images.amazon.com/images/P/0316769487.0...,254,0
16078,Girl with a Pearl Earring,Tracy Chevalier,2001,http://images.amazon.com/images/P/0452282152.0...,254,0
18707,Night Watch,Terry Pratchett,2002,http://images.amazon.com/images/P/0060013117.0...,254,0
18722,Thief of Time,Terry Pratchett,2001,http://images.amazon.com/images/P/0060199563.0...,254,0
...,...,...,...,...,...,...
339264,Falling Angel (Rita Award),Anne Stuart,1995,http://images.amazon.com/images/P/0373600739.0...,254,0
339271,"Race To The Altar (Silhouette Special Edition,...",Patricia Hagan,2001,http://images.amazon.com/images/P/0373243979.0...,254,4
339274,Citizen of the Galaxy,ROBERT A. HEINLEIN,1987,http://images.amazon.com/images/P/0345342445.0...,254,0
339282,Star Beast,ROBERT A. HEINLEIN,1987,http://images.amazon.com/images/P/0345350596.0...,254,0
339291,Anonymous Rex: A Detective Story,Eric Garcia,1999,http://images.amazon.com/images/P/0375503269.0...,254,0

In [49]:
# Data of Pro Users

pro_users_df = df[df['user_id'].isin(pro_user_id)]
pro_users_df

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
3,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,http://images.amazon.com/images/P/0374157065.0...,110912,10
...,...,...,...,...,...,...
1031124,Slow Food(The Case For Taste),Carlo Petrini,2003,http://images.amazon.com/images/P/0231128444.0...,275970,0
1031125,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,http://images.amazon.com/images/P/0520242335.0...,275970,0
1031126,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,http://images.amazon.com/images/P/0762412119.0...,275970,0
1031127,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,http://images.amazon.com/images/P/1582380805.0...,275970,0
1031128,Cocktail Classics,David Biggs,2004,http://images.amazon.com/images/P/1845170423.0...,275970,7

- **No of Ratings for Every Book >= 50**

- **Every Book Should be Rated by at least 50 Different Users**

In [50]:
pro_users_df.groupby(['book_title']).count()

,book_author,year_of_publication,image_url_m,user_id,book_rating
book_title,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",2,2,2,2,2
Always Have Popsicles,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),1,1,1,1,1
...,...,...,...,...,...
Ã?Â?ber das Fernsehen.,2,2,2,2,2
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,3,3,3,3,3
Ã?Â?lpiraten.,1,1,1,1,1
Ã?Â?stlich der Berge.,1,1,1,1,1
Ã?Â?thique en toc,1,1,1,1,1

In [51]:
pro_users_df.groupby(['book_title']).count()['book_rating'].sort_values(ascending = False)

book_title
Wild Animus                                                                                     330
Bridget Jones's Diary                                                                           263
The Lovely Bones: A Novel                                                                       261
The Notebook                                                                                    238
The Pelican Brief                                                                               229
                                                                                               ...
Pregnancy After a Loss: A Guide to Pregnancy After a Miscarriage, Stillbirth or Infant Death      1
Pregnancy &amp; childbirth: The complete guide for a new life                                     1
Preferential Policies: An International Perspective                                               1
Predicting the Future: From Jules Verne to Bill Gates                                             1
Ã?Â?thique en toc                                                                                 1
Name: book_rating, Length: 155845, dtype: int64

In [52]:
pro_users_df['book_title'].value_counts()

Wild Animus                                                            330
Bridget Jones's Diary                                                  263
The Lovely Bones: A Novel                                              261
The Notebook                                                           238
The Pelican Brief                                                      229
                                                                      ...
Engine City (The Engines of Light, Book 3)                               1
The Desperate Remedy: Henry Gresham and the Gunpowder Plot; A Novel      1
The Goddess Worldweaver (Seven Circles Trilogy, Book 3)                  1
Dying to Get Even (Jennifer Marsh Mysteries)                             1
Cocktail Classics                                                        1
Name: book_title, Length: 155845, dtype: int64

In [53]:
pro_users_df.groupby(['book_title']).count()['book_rating']

book_title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                1
                                                                                                             ..
Ã?Â?ber das Fernsehen.                                                                                        2
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           3
Ã?Â?lpiraten.                                                                                                 1
Ã?Â?stlich der Berge.                                                                                         1
Ã?Â?thique en toc                                                                                             1
Name: book_rating, Length: 155845, dtype: int64

In [54]:
# Books those have been rated more than 50
# Both True/False

pro_users_df.groupby(['book_title']).count()['book_rating'] >= 50

book_title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    False
 Always Have Popsicles                                                                                        False
 Apple Magic (The Collector's series)                                                                         False
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   False
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                False
                                                                                                              ...
Ã?Â?ber das Fernsehen.                                                                                        False
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           False
Ã?Â?lpiraten.                                                                                                 False
Ã?Â?stlich der Berge.                                                                                         False
Ã?Â?thique en toc                                                                                             False
Name: book_rating, Length: 155845, dtype: bool

In [55]:
temp = pro_users_df.groupby(['book_title']).count()['book_rating'] >= 50
temp

book_title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    False
 Always Have Popsicles                                                                                        False
 Apple Magic (The Collector's series)                                                                         False
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   False
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                False
                                                                                                              ...
Ã?Â?ber das Fernsehen.                                                                                        False
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           False
Ã?Â?lpiraten.                                                                                                 False
Ã?Â?stlich der Berge.                                                                                         False
Ã?Â?thique en toc                                                                                             False
Name: book_rating, Length: 155845, dtype: bool

In [56]:
temp.size

155845

In [57]:
temp.value_counts()

False    155139
True        706
Name: book_rating, dtype: int64

In [58]:
# Books those have been rated more than 50
# Only True

temp[temp]

book_title
1984                                                                 True
1st to Die: A Novel                                                  True
2nd Chance                                                           True
4 Blondes                                                            True
A Bend in the Road                                                   True
                                                                     ...
Year of Wonders                                                      True
You Belong To Me                                                     True
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values    True
Zoya                                                                 True
\O\" Is for Outlaw"                                                  True
Name: book_rating, Length: 706, dtype: bool

In [59]:
temp[temp].value_counts()

True    706
Name: book_rating, dtype: int64

In [60]:
famous_book_names = temp[temp].index

In [61]:
famous_book_names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='book_title', length=706)

In [62]:
pro_users_df[pro_users_df['book_title'].isin(famous_book_names)]

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
31,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...
1028414,Echoes,Nancy Morse,1992,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,I Know Why the Caged Bird Sings,Maya Angelou,1996,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,The Promise,CHAIM POTOK,1997,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,The Pillars of the Earth,Ken Follett,2002,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,The Handmaid's Tale,Margaret Atwood,1999,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [63]:
filtered_df = pro_users_df[pro_users_df['book_title'].isin(famous_book_names)]

In [64]:
filtered_df

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
31,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...
1028414,Echoes,Nancy Morse,1992,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,I Know Why the Caged Bird Sings,Maya Angelou,1996,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,The Promise,CHAIM POTOK,1997,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,The Pillars of the Earth,Ken Follett,2002,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,The Handmaid's Tale,Margaret Atwood,1999,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [65]:
filtered_df

,book_title,book_author,year_of_publication,image_url_m,user_id,book_rating
31,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...
1028414,Echoes,Nancy Morse,1992,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,I Know Why the Caged Bird Sings,Maya Angelou,1996,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,The Promise,CHAIM POTOK,1997,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,The Pillars of the Earth,Ken Follett,2002,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,The Handmaid's Tale,Margaret Atwood,1999,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [66]:
filtered_df['user_id'].duplicated().value_counts()

True     57776
False      810
Name: user_id, dtype: int64

In [67]:
filtered_df['book_title'].duplicated().value_counts()

True     57880
False      706
Name: book_title, dtype: int64

<br>

<br>

## Colaborative Recommendation System

<br>

In [68]:
cf = filtered_df.pivot_table(index = 'book_title', columns = 'user_id', values = 'book_rating')
cf

user_id,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [69]:
cf.fillna(0, inplace = True)
cf

user_id,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [70]:
cf.index.duplicated().sum()

0

In [71]:
cf.columns.duplicated().sum()

0

<br>

### Finding Similarity

- **Cosine Similarity between Every Book.**


- **Which 5 Users are most similar.**

In [72]:
similarity = cosine_similarity(cf)

In [73]:
similarity

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [74]:
similarity.shape

(706, 706)

In [75]:
cf.index[0]

'1984'

- **Getting Index of Movie**

In [76]:
title = '1984'

In [77]:
display(cf[cf.index == title])
display(cf[cf.index == title].index)
display(cf[cf.index == title].index[0])

user_id,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Index(['1984'], dtype='object', name='book_title')

'1984'

In [78]:
reset_index_df = cf.reset_index()
reset_index_df[reset_index_df['book_title'] == title].index
reset_index_df[reset_index_df['book_title'] == title].index[0]

0

In [79]:
# Similarity between 0th book and remaining all.

similarity[0]

array([1.        , 0.10255025, 0.01220856, 0.        , 0.05367224,
       0.02774901, 0.08216491, 0.13732869, 0.03261686, 0.03667591,
       0.02322418, 0.06766487, 0.02083978, 0.09673735, 0.13388865,
       0.08303112, 0.11153543, 0.05100411, 0.02517784, 0.11706383,
       0.        , 0.14333793, 0.07847534, 0.06150451, 0.08723968,
       0.        , 0.07009814, 0.13658681, 0.07600328, 0.12167134,
       0.00768046, 0.01473221, 0.        , 0.07965814, 0.04522617,
       0.01556271, 0.09495938, 0.0182307 , 0.02610465, 0.07984012,
       0.11679969, 0.0569124 , 0.08354155, 0.08471898, 0.08785938,
       0.05491435, 0.0548505 , 0.27026514, 0.09779123, 0.06016046,
       0.08958835, 0.06748675, 0.        , 0.04468098, 0.01920872,
       0.        , 0.05629067, 0.00557964, 0.07877059, 0.05219479,
       0.18908177, 0.        , 0.01240656, 0.02984572, 0.04279502,
       0.12680125, 0.16566735, 0.        , 0.13357242, 0.06615478,
       0.        , 0.        , 0.        , 0.10968075, 0.02806606,
       0.04521795, 0.02613277, 0.06876131, 0.01331627, 0.10519138,
       0.03349457, 0.01363458, 0.23669374, 0.        , 0.10397941,
       0.06167753, 0.14176273, 0.11661083, 0.08331012, 0.00850895,
       0.06715433, 0.        , 0.15850821, 0.0328052 , 0.01068915,
       0.02579782, 0.02114859, 0.02687779, 0.02175821, 0.        ,
       0.01601663, 0.12114266, 0.04768603, 0.05819184, 0.06510722,
       0.        , 0.0476705 , 0.05273165, 0.0281001 , 0.06524573,
       0.02116345, 0.02097868, 0.07422249, 0.01752778, 0.03734567,
       0.        , 0.01579666, 0.11039448, 0.16527277, 0.15514319,
       0.06237454, 0.08139489, 0.05655414, 0.07458203, 0.03771888,
       0.0593633 , 0.02955369, 0.03355603, 0.04734093, 0.01006643,
       0.01671982, 0.07258935, 0.        , 0.        , 0.        ,
       0.02428501, 0.03067819, 0.0997498 , 0.        , 0.01690152,
       0.02410862, 0.0281084 , 0.        , 0.        , 0.01812877,
       0.02880827, 0.        , 0.05995157, 0.02127671, 0.1034119 ,
       0.02766748, 0.10684795, 0.09898722, 0.14145186, 0.05007429,
       0.09428289, 0.01411249, 0.        , 0.07835976, 0.00882242,
       0.04515898, 0.        , 0.01281412, 0.04003334, 0.07477661,
       0.01217906, 0.01887393, 0.02667484, 0.01432864, 0.14702847,
       0.06087282, 0.02578321, 0.02741876, 0.        , 0.14909595,
       0.05606788, 0.        , 0.03199916, 0.03643817, 0.        ,
       0.01962921, 0.22222254, 0.01515845, 0.09673268, 0.02190023,
       0.02013549, 0.05400331, 0.07262017, 0.01111637, 0.03649872,
       0.05994664, 0.        , 0.14691167, 0.02086005, 0.10359635,
       0.09794375, 0.06609997, 0.12871083, 0.08992739, 0.01147457,
       0.02460165, 0.        , 0.18049207, 0.05141892, 0.0477174 ,
       0.10849696, 0.13278139, 0.05915288, 0.05372984, 0.034785  ,
       0.        , 0.09203039, 0.06388401, 0.04773328, 0.15570975,
       0.08420691, 0.12338217, 0.0878469 , 0.08205945, 0.12177532,
       0.02433703, 0.00272862, 0.        , 0.        , 0.03671505,
       0.15280984, 0.0370943 , 0.07458136, 0.09746697, 0.05416091,
       0.10266993, 0.07574414, 0.06426526, 0.0360174 , 0.01559752,
       0.02033559, 0.02463593, 0.        , 0.03349154, 0.02135369,
       0.0190337 , 0.06806265, 0.02032116, 0.11784706, 0.07839488,
       0.08422558, 0.        , 0.02040796, 0.        , 0.04698246,
       0.08294513, 0.13974514, 0.01234525, 0.13510608, 0.07423489,
       0.11841889, 0.04930091, 0.01621668, 0.02633023, 0.04815972,
       0.01959826, 0.10174253, 0.13257638, 0.        , 0.0551027 ,
       0.0186115 , 0.        , 0.04504598, 0.03482459, 0.16503292,
       0.08466191, 0.06795353, 0.02987653, 0.        , 0.        ,
       0.08781993, 0.07885279, 0.04799058, 0.01467964, 0.02123837,
       0.04549923, 0.08673969, 0.00885998, 0.02880637, 0.02022145,
       0.02414122, 0.12548312, 0.        , 0.02482518, 0.06520606,
       0.        , 0.0606983 , 0.01177824, 0.13974105, 0.01978844,
       0.01260824, 0.08608601, 0.04433883, 0.02943085, 0.02242496,
       0.06541868, 0.07866868, 0.14281399, 0.11979305, 0.01858409,
       0.13445377, 0.04809338, 0.09790644, 0.        , 0.17415731,
       0.07437756, 0.        , 0.12389065, 0.01042391, 0.02580849,
       0.        , 0.0895139 , 0.04005551, 0.19182231, 0.02267512,
       0.01730347, 0.03054044, 0.07008822, 0.10084626, 0.10467615,
       0.01683462, 0.12468283, 0.10266459, 0.03549836, 0.02667484,
       0.07652765, 0.08474056, 0.01831977, 0.02177482, 0.15293362,
       0.        , 0.        , 0.01063251, 0.02153089, 0.02946443,
       0.        , 0.02076783, 0.01194825, 0.00953675, 0.2067554 ,
       0.01554292, 0.0390266 , 0.06681046, 0.09014973, 0.05914735,
       0.06206857, 0.        , 0.02005959, 0.07843566, 0.16337845,
       0.07161075, 0.        , 0.14595258, 0.07561631, 0.02939738,
       0.04779629, 0.01807238, 0.11362722, 0.09791273, 0.07999693,
       0.08912337, 0.10941777, 0.        , 0.02115842, 0.0600393 ,
       0.01797154, 0.05755408, 0.02166863, 0.09754449, 0.13107652,
       0.        , 0.06829904, 0.09132922, 0.        , 0.02781406,
       0.01533368, 0.06113179, 0.01757286, 0.02471294, 0.0180158 ,
       0.11789806, 0.06468143, 0.13904191, 0.        , 0.06671644,
       0.        , 0.        , 0.05762086, 0.02266096, 0.00844876,
       0.02297481, 0.07136276, 0.15305514, 0.06039874, 0.        ,
       0.08996912, 0.01545947, 0.10135299, 0.        , 0.01676344,
       0.        , 0.0502188 , 0.16041182, 0.        , 0.13439733,
       0.12508514, 0.02329035, 0.0198727 , 0.01105674, 0.02548034,
       0.00896044, 0.08246122, 0.01902896, 0.07025003, 0.0216367 ,
       0.12822982, 0.09998772, 0.08642895, 0.06355197, 0.02883024,
       0.04335826, 0.0470659 , 0.05223733, 0.        , 0.08982751,
       0.00875634, 0.09923542, 0.10228551, 0.        , 0.12307492,
       0.01758929, 0.02028125, 0.1033827 , 0.13028171, 0.08988894,
       0.09005001, 0.05332049, 0.08033436, 0.04597795, 0.06139888,
       0.02300709, 0.02304904, 0.06523041, 0.01915363, 0.        ,
       0.04542766, 0.        , 0.        , 0.05261954, 0.01317088,
       0.        , 0.        , 0.0485931 , 0.0734819 , 0.10354481,
       0.01718807, 0.09919937, 0.08091989, 0.00358835, 0.04757132,
       0.11122765, 0.05143481, 0.0566614 , 0.        , 0.06087719,
       0.10800615, 0.        , 0.07554686, 0.        , 0.13644384,
       0.04796763, 0.16104067, 0.        , 0.01759864, 0.05438295,
       0.        , 0.08100801, 0.13090711, 0.00581844, 0.07150547,
       0.05428487, 0.06143184, 0.05161653, 0.1951182 , 0.1149488 ,
       0.06513047, 0.06401961, 0.        , 0.        , 0.10853662,
       0.11400426, 0.0463925 , 0.01825277, 0.        , 0.01195201,
       0.21057744, 0.05809707, 0.04349156, 0.02646256, 0.07276403,
       0.05264857, 0.07242165, 0.06790898, 0.01626564, 0.02431809,
       0.02093565, 0.13617057, 0.11784149, 0.08588206, 0.09284352,
       0.11277297, 0.06868983, 0.08200947, 0.13369059, 0.        ,
       0.19972625, 0.02286207, 0.0806288 , 0.        , 0.05756015,
       0.06738056, 0.        , 0.19656288, 0.06306426, 0.03499381,
       0.06123119, 0.09596456, 0.02180168, 0.02317515, 0.06476149,
       0.07052241, 0.08280452, 0.1700872 , 0.07213921, 0.01172201,
       0.08541218, 0.17990898, 0.08007284, 0.01739625, 0.16728777,
       0.26396194, 0.1840891 , 0.05600273, 0.04133586, 0.06911015,
       0.14456847, 0.22626397, 0.19208896, 0.0239334 , 0.20025064,
       0.01507653, 0.05144282, 0.1233368 , 0.1420166 , 0.02472079,
       0.08563805, 0.02363426, 0.12794024, 0.01083153, 0.07352436,
       0.09532519, 0.03421895, 0.07194212, 0.02297079, 0.15344079,
       0.08856302, 0.        , 0.        , 0.01878656, 0.09772942,
       0.04404359, 0.15211972, 0.0152225 , 0.10307399, 0.05715789,
       0.04600056, 0.06303899, 0.06572303, 0.14421331, 0.08272478,
       0.        , 0.04203701, 0.02276077, 0.17381829, 0.01909967,
       0.16000268, 0.14681486, 0.        , 0.05940546, 0.07725115,
       0.07464763, 0.06546696, 0.07021577, 0.18921368, 0.02494136,
       0.01705027, 0.05437622, 0.04932819, 0.        , 0.11445399,
       0.08001595, 0.12858515, 0.02306658, 0.06129105, 0.02090769,
       0.04550867, 0.1026659 , 0.10725982, 0.0260534 , 0.00173709,
       0.0987294 , 0.08077482, 0.02159226, 0.01614275, 0.0208464 ,
       0.09797466, 0.01906731, 0.18571699, 0.05344577, 0.18925314,
       0.05894189, 0.01488161, 0.1202478 , 0.09840359, 0.01048126,
       0.10596224, 0.07617195, 0.0805439 , 0.        , 0.23299389,
       0.01073642, 0.13573542, 0.04578552, 0.14440017, 0.        ,
       0.12522954, 0.0645501 , 0.02817522, 0.14445559, 0.01721045,
       0.09508161, 0.0517902 , 0.18410818, 0.08704224, 0.10990764,
       0.10850377, 0.03954865, 0.0383631 , 0.02463491, 0.07845405,
       0.03455548, 0.03007681, 0.02484076, 0.04223674, 0.14444517,
       0.12340234, 0.01510201, 0.0284437 , 0.02132016, 0.07391778,
       0.08904276, 0.15893871, 0.06947574, 0.01060787, 0.        ,
       0.09993169, 0.05711356, 0.09488374, 0.00948943, 0.13365876,
       0.05794064, 0.        , 0.06721284, 0.02066998, 0.        ,
       0.01839428, 0.        , 0.12655364, 0.08418288, 0.09095705,
       0.00730589, 0.08143881, 0.        , 0.04218803, 0.08392849,
       0.07785801, 0.        , 0.07151794, 0.02407593, 0.01635126,
       0.03734567, 0.05237227, 0.01140169, 0.00968725, 0.12530648,
       0.00909905, 0.05864096, 0.01769644, 0.12110367, 0.07347567,
       0.04316046])

In [80]:
similarity[0].shape

(706,)

In [81]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999998),
 (1, 0.10255024829874465),
 (2, 0.012208555646509366),
 (3, 0.0),
 (4, 0.053672244225442485),
 (5, 0.027749013024662858),
 (6, 0.08216491130000354),
 (7, 0.13732869060263378),
 (8, 0.03261686350494277),
 (9, 0.03667590746512177),
 (10, 0.02322418425912186),
 (11, 0.06766486753662343),
 (12, 0.020839782065795794),
 (13, 0.09673734976610586),
 (14, 0.13388864701187034),
 (15, 0.08303111691811028),
 (16, 0.1115354275858341),
 (17, 0.051004105100675136),
 (18, 0.025177841632809915),
 (19, 0.11706383185253948),
 (20, 0.0),
 (21, 0.14333792815336935),
 (22, 0.07847534327232125),
 (23, 0.06150451339525138),
 (24, 0.08723968326958673),
 (25, 0.0),
 (26, 0.07009814362931202),
 (27, 0.13658680855472938),
 (28, 0.07600327535501016),
 (29, 0.12167133598776537),
 (30, 0.007680459111722776),
 (31, 0.01473221255132234),
 (32, 0.0),
 (33, 0.07965814289647455),
 (34, 0.04522616573040869),
 (35, 0.01556270914112474),
 (36, 0.09495937740802214),
 (37, 0.018230696811058135),
 (38, 0.026104653172312028),
 (39, 0.07984012108659384),
 (40, 0.11679968613719667),
 (41, 0.056912401804646934),
 (42, 0.08354155383339157),
 (43, 0.08471898090442946),
 (44, 0.08785938150991274),
 (45, 0.05491435163039676),
 (46, 0.054850498513470236),
 (47, 0.2702651417103732),
 (48, 0.09779122591837026),
 (49, 0.060160461842087495),
 (50, 0.08958834926611466),
 (51, 0.06748675491514017),
 (52, 0.0),
 (53, 0.044680983219421905),
 (54, 0.019208718234636258),
 (55, 0.0),
 (56, 0.056290668459108455),
 (57, 0.005579638588454276),
 (58, 0.07877058635507732),
 (59, 0.052194792200893965),
 (60, 0.18908176672188648),
 (61, 0.0),
 (62, 0.012406560213354146),
 (63, 0.029845724311982225),
 (64, 0.04279501979786338),
 (65, 0.12680124740531368),
 (66, 0.16566734565340113),
 (67, 0.0),
 (68, 0.13357242093379193),
 (69, 0.06615478064452682),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.1096807501418389),
 (74, 0.02806606106883051),
 (75, 0.04521795287053612),
 (76, 0.02613276804655889),
 (77, 0.06876130890656589),
 (78, 0.013316271087745269),
 (79, 0.10519138203342883),
 (80, 0.03349456939792139),
 (81, 0.013634576553468258),
 (82, 0.2366937434740099),
 (83, 0.0),
 (84, 0.1039794092420736),
 (85, 0.06167753120046458),
 (86, 0.1417627291694863),
 (87, 0.11661082872914152),
 (88, 0.08331012208964668),
 (89, 0.00850895140653615),
 (90, 0.06715432766232284),
 (91, 0.0),
 (92, 0.1585082118281064),
 (93, 0.03280520241000348),
 (94, 0.010689154840164533),
 (95, 0.025797824097510556),
 (96, 0.02114858980511902),
 (97, 0.02687778911799567),
 (98, 0.02175821065382328),
 (99, 0.0),
 (100, 0.016016629607635186),
 (101, 0.12114265984279052),
 (102, 0.04768602689229997),
 (103, 0.058191840680734276),
 (104, 0.06510721558252526),
 (105, 0.0),
 (106, 0.047670497142785574),
 (107, 0.05273164983675109),
 (108, 0.02810009706063171),
 (109, 0.06524573363186935),
 (110, 0.021163446843373374),
 (111, 0.02097867986921867),
 (112, 0.07422249010392888),
 (113, 0.017527779718968118),
 (114, 0.03734566872286401),
 (115, 0.0),
 (116, 0.01579666260459111),
 (117, 0.1103944810687539),
 (118, 0.165272766123669),
 (119, 0.15514318804365945),
 (120, 0.06237453600241552),
 (121, 0.08139488796880032),
 (122, 0.056554138733275305),
 (123, 0.07458202717929566),
 (124, 0.03771888280719047),
 (125, 0.059363300295016304),
 (126, 0.02955369248311012),
 (127, 0.03355602562283),
 (128, 0.04734092759216691),
 (129, 0.010066425112509755),
 (130, 0.016719816747289874),
 (131, 0.07258934796997447),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.02428501142412964),
 (136, 0.030678189040978528),
 (137, 0.09974980034668829),
 (138, 0.0),
 (139, 0.016901518597837405),
 (140, 0.024108621631248803),
 (141, 0.028108399645259814),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0181287703514146),
 (145, 0.028808272598853126),
 (146, 0.0),
 (147, 0.05995157134958024),
 (148, 0.021276714965680187),
 (149, 0.10341190148072846),
 (150, 0.027667475691473428),
 (151, 0.10684794535545848),
 (152, 0.09898722239993361),
 (153, 0.1414518615569236),
 (154, 0.05007429159938883),
 (155, 0.09428288870384942),
 (156, 0.014112489355409683),
 (157, 0.0),
 (158, 0.07835976130061303),
 (159, 0.00882242400686552),
 (160, 0.04515898041752436),
 (161, 0.0),
 (162, 0.012814117802391826),
 (163, 0.04003333547158616),
 (164, 0.07477661367406771),
 (165, 0.012179056920074677),
 (166, 0.018873932015163516),
 (167, 0.026674838717939867),
 (168, 0.01432863977616057),
 (169, 0.1470284656227732),
 (170, 0.06087281632872059),
 (171, 0.025783211586063344),
 (172, 0.027418756526771074),
 (173, 0.0),
 (174, 0.14909595195082756),
 (175, 0.05606788035530558),
 (176, 0.0),
 (177, 0.03199916313406436),
 (178, 0.03643816906953526),
 (179, 0.0),
 (180, 0.01962921144060071),
 (181, 0.22222254415660225),
 (182, 0.015158449197584845),
 (183, 0.09673267751838878),
 (184, 0.02190023295408395),
 (185, 0.020135489410098205),
 (186, 0.05400331245399732),
 (187, 0.07262017448772083),
 (188, 0.011116365315772406),
 (189, 0.036498718026030004),
 (190, 0.05994663767295999),
 (191, 0.0),
 (192, 0.14691166711955864),
 (193, 0.020860053643757807),
 (194, 0.1035963528100001),
 (195, 0.09794374510256892),
 (196, 0.06609996896203728),
 (197, 0.12871083086643306),
 (198, 0.08992738703666601),
 (199, 0.011474570339750256),
 (200, 0.024601653277066596),
 (201, 0.0),
 (202, 0.18049207281616433),
 (203, 0.05141892092902459),
 (204, 0.047717402129725514),
 (205, 0.10849696385128584),
 (206, 0.13278139031675887),
 (207, 0.059152881703632795),
 (208, 0.053729841666378134),
 (209, 0.034785003361519164),
 (210, 0.0),
 (211, 0.09203038690315052),
 (212, 0.06388401351716998),
 (213, 0.04773328410790857),
 (214, 0.15570975499937129),
 (215, 0.0842069105937096),
 (216, 0.12338216998991305),
 (217, 0.08784690368235953),
 (218, 0.0820594460339464),
 (219, 0.12177532243608828),
 (220, 0.024337026385897676),
 (221, 0.00272862336930817),
 (222, 0.0),
 (223, 0.0),
 (224, 0.03671505063990275),
 (225, 0.1528098402276361),
 (226, 0.03709430441334803),
 (227, 0.07458136399603107),
 (228, 0.09746696979819942),
 (229, 0.05416091103251691),
 (230, 0.10266993316420167),
 (231, 0.0757441443938586),
 (232, 0.06426525769208898),
 (233, 0.03601739518550193),
 (234, 0.01559751952620105),
 (235, 0.02033558874805688),
 (236, 0.024635927968282654),
 (237, 0.0),
 (238, 0.03349154464789058),
 (239, 0.021353685011361416),
 (240, 0.019033695446023926),
 (241, 0.06806264765162154),
 (242, 0.020321161226731627),
 (243, 0.11784705785247843),
 (244, 0.07839488163675291),
 (245, 0.08422557655984436),
 (246, 0.0),
 (247, 0.02040796206066411),
 (248, 0.0),
 (249, 0.046982457315643385),
 (250, 0.08294512991462386),
 (251, 0.13974513728492968),
 (252, 0.012345246102533871),
 (253, 0.13510607638008787),
 (254, 0.07423488726781508),
 (255, 0.11841889291663141),
 (256, 0.049300912125160704),
 (257, 0.016216682151444957),
 (258, 0.026330228561191004),
 (259, 0.04815971759587031),
 (260, 0.019598256153707194),
 (261, 0.10174252819190155),
 (262, 0.13257638388225185),
 (263, 0.0),
 (264, 0.055102704646119355),
 (265, 0.018611497829688243),
 (266, 0.0),
 (267, 0.04504597870526374),
 (268, 0.03482458685305275),
 (269, 0.1650329228149958),
 (270, 0.08466191294337998),
 (271, 0.06795352889900172),
 (272, 0.029876534978291205),
 (273, 0.0),
 (274, 0.0),
 (275, 0.08781992709390865),
 (276, 0.07885279086963545),
 (277, 0.04799058127298857),
 (278, 0.014679640011206505),
 (279, 0.021238372796229556),
 (280, 0.04549923467689111),
 (281, 0.08673968616705958),
 (282, 0.00885998445194921),
 (283, 0.028806369616477166),
 (284, 0.020221447157344582),
 (285, 0.024141217209915328),
 (286, 0.12548312467838352),
 (287, 0.0),
 (288, 0.02482518222135733),
 (289, 0.06520605980064662),
 (290, 0.0),
 (291, 0.06069830203664196),
 (292, 0.011778242975805127),
 (293, 0.13974104783917973),
 (294, 0.019788442258843547),
 (295, 0.012608239194211564),
 (296, 0.08608600626732467),
 (297, 0.04433882752568145),
 (298, 0.029430847399312027),
 (299, 0.022424955017243866),
 (300, 0.06541867556977009),
 (301, 0.07866868132289853),
 (302, 0.1428139852200272),
 (303, 0.11979305199464946),
 (304, 0.01858409288796079),
 (305, 0.13445376799866068),
 (306, 0.04809338200514574),
 (307, 0.0979064447776707),
 (308, 0.0),
 (309, 0.17415730924332484),
 (310, 0.07437756212042423),
 (311, 0.0),
 (312, 0.1238906533021012),
 (313, 0.010423913217045038),
 (314, 0.025808491020821493),
 (315, 0.0),
 (316, 0.08951389572154368),
 (317, 0.04005551020725377),
 (318, 0.19182230688281934),
 (319, 0.02267512161790004),
 (320, 0.017303468493582226),
 (321, 0.03054044240047009),
 (322, 0.0700882246357741),
 (323, 0.10084626149563478),
 (324, 0.10467615354986062),
 (325, 0.016834621675675482),
 (326, 0.12468283384023092),
 (327, 0.10266459423639845),
 (328, 0.035498355256648746),
 (329, 0.026674838717939867),
 (330, 0.07652764821891074),
 (331, 0.08474055728984814),
 (332, 0.018319772326554337),
 (333, 0.021774817728178283),
 (334, 0.15293362041446346),
 (335, 0.0),
 (336, 0.0),
 (337, 0.010632508151830204),
 (338, 0.021530886296301118),
 (339, 0.02946442510264468),
 (340, 0.0),
 (341, 0.020767833514212724),
 (342, 0.011948245768325256),
 (343, 0.009536746594659161),
 (344, 0.20675540390454),
 (345, 0.015542921836058245),
 (346, 0.03902659506471766),
 (347, 0.06681045925540752),
 (348, 0.09014973218560086),
 (349, 0.05914734917065386),
 (350, 0.06206857320564754),
 (351, 0.0),
 (352, 0.020059585724360268),
 (353, 0.07843565693314272),
 (354, 0.16337845332530374),
 (355, 0.07161075491687474),
 (356, 0.0),
 (357, 0.1459525808785892),
 (358, 0.07561631141753603),
 (359, 0.029397384230560795),
 (360, 0.047796293241950796),
 (361, 0.018072383204619496),
 (362, 0.11362722122094872),
 (363, 0.09791273187403503),
 (364, 0.07999692625971765),
 (365, 0.0891233745026412),
 (366, 0.10941777035919222),
 (367, 0.0),
 (368, 0.02115842407200956),
 (369, 0.060039300152930415),
 (370, 0.017971540540139944),
 (371, 0.05755407693373189),
 (372, 0.021668631362692693),
 (373, 0.09754449459555777),
 (374, 0.13107651944057502),
 (375, 0.0),
 (376, 0.06829903941402894),
 (377, 0.09132921952528268),
 (378, 0.0),
 (379, 0.02781406274224919),
 (380, 0.015333681815045101),
 (381, 0.06113178628791212),
 (382, 0.017572862308732076),
 (383, 0.024712941476041382),
 (384, 0.018015801292409934),
 (385, 0.1178980615083171),
 (386, 0.06468143253238315),
 (387, 0.1390419059870689),
 (388, 0.0),
 (389, 0.06671644037106779),
 (390, 0.0),
 (391, 0.0),
 (392, 0.05762086381548707),
 (393, 0.02266096293926825),
 (394, 0.008448763927099017),
 (395, 0.02297481006625077),
 (396, 0.07136276113078666),
 (397, 0.1530551446766823),
 (398, 0.06039873575147915),
 (399, 0.0),
 (400, 0.08996912406728536),
 (401, 0.015459465622161536),
 (402, 0.10135299399598713),
 (403, 0.0),
 (404, 0.016763442237401817),
 (405, 0.0),
 (406, 0.05021880312673623),
 (407, 0.16041182196659062),
 (408, 0.0),
 (409, 0.1343973311768824),
 (410, 0.12508513698245888),
 (411, 0.02329035016031528),
 (412, 0.019872703940133213),
 (413, 0.011056735115042383),
 (414, 0.025480338679592467),
 (415, 0.0089604367821904),
 (416, 0.0824612198578452),
 (417, 0.01902896010686717),
 (418, 0.07025002832914887),
 (419, 0.021636698437203145),
 (420, 0.12822981990037824),
 (421, 0.0999877199669616),
 (422, 0.08642894687915843),
 (423, 0.0635519690782283),
 (424, 0.028830240654024085),
 (425, 0.04335826491498011),
 (426, 0.04706590154362337),
 (427, 0.0522373263993224),
 (428, 0.0),
 (429, 0.08982750671022352),
 (430, 0.00875634332679306),
 (431, 0.0992354177657422),
 (432, 0.10228551050235933),
 (433, 0.0),
 (434, 0.12307492189941618),
 (435, 0.01758928833928951),
 (436, 0.020281245334279798),
 (437, 0.1033826953037451),
 (438, 0.130281708532021),
 (439, 0.08988894455657523),
 (440, 0.09005001295005992),
 (441, 0.05332049434044375),
 (442, 0.08033435626539932),
 (443, 0.045977952103493924),
 (444, 0.061398875647666676),
 (445, 0.023007092325074995),
 (446, 0.023049037833599993),
 (447, 0.06523041320455897),
 (448, 0.01915362558614925),
 (449, 0.0),
 (450, 0.04542765998492866),
 (451, 0.0),
 (452, 0.0),
 (453, 0.05261953990010256),
 (454, 0.01317087876205714),
 (455, 0.0),
 (456, 0.0),
 (457, 0.048593102089385304),
 (458, 0.07348190409223959),
 (459, 0.10354480865656568),
 (460, 0.0171880657878069),
 (461, 0.09919937023309428),
 (462, 0.08091989315700655),
 (463, 0.0035883533320389396),
 (464, 0.04757132169040053),
 (465, 0.11122764671322921),
 (466, 0.05143480653633815),
 (467, 0.05666140304625101),
 (468, 0.0),
 (469, 0.060877194204984726),
 (470, 0.10800615252570414),
 (471, 0.0),
 (472, 0.0755468596127809),
 (473, 0.0),
 (474, 0.13644383961641227),
 (475, 0.04796762686649386),
 (476, 0.16104067376144765),
 (477, 0.0),
 (478, 0.017598641856748937),
 (479, 0.05438295377092604),
 (480, 0.0),
 (481, 0.08100800937525751),
 (482, 0.13090710604063543),
 (483, 0.00581843892000093),
 (484, 0.07150547342980032),
 (485, 0.05428487095514969),
 (486, 0.06143184266443724),
 (487, 0.051616531477964966),
 (488, 0.19511819825564608),
 (489, 0.11494879598141551),
 (490, 0.06513046875777172),
 (491, 0.06401961292305569),
 (492, 0.0),
 (493, 0.0),
 (494, 0.10853661984252007),
 (495, 0.11400426236261282),
 (496, 0.046392498261486066),
 (497, 0.018252769789423258),
 (498, 0.0),
 (499, 0.011952011165403655),
 (500, 0.21057743765309012),
 (501, 0.058097069301565475),
 (502, 0.043491562429456586),
 (503, 0.02646255704581015),
 (504, 0.07276403383736725),
 (505, 0.05264856975654457),
 (506, 0.07242165076731459),
 (507, 0.06790897506872169),
 (508, 0.016265641643564675),
 (509, 0.024318094429406693),
 (510, 0.020935646634428463),
 (511, 0.13617057407600314),
 (512, 0.11784149206441577),
 (513, 0.08588206473402643),
 (514, 0.0928435169211848),
 (515, 0.11277296885857815),
 (516, 0.06868983304237651),
 (517, 0.08200947294838495),
 (518, 0.13369059478865902),
 (519, 0.0),
 (520, 0.19972624710300058),
 (521, 0.0228620664348094),
 (522, 0.08062879942666365),
 (523, 0.0),
 (524, 0.057560148077814344),
 (525, 0.06738056011305654),
 (526, 0.0),
 (527, 0.19656287691544355),
 (528, 0.06306425554305627),
 (529, 0.03499381360818396),
 (530, 0.06123118935155921),
 (531, 0.09596456280564838),
 (532, 0.021801683645525486),
 (533, 0.023175154774464087),
 (534, 0.06476148889541151),
 (535, 0.07052240553428667),
 (536, 0.08280451731096075),
 (537, 0.17008719986228352),
 (538, 0.07213921021695388),
 (539, 0.011722012964226876),
 (540, 0.08541217689607684),
 (541, 0.17990898085771032),
 (542, 0.08007284499901246),
 (543, 0.017396246144706713),
 (544, 0.1672877700938274),
 (545, 0.2639619371123496),
 (546, 0.18408910419891056),
 (547, 0.05600272988869),
 (548, 0.04133585716291763),
 (549, 0.0691101496608291),
 (550, 0.1445684727872654),
 (551, 0.2262639743141286),
 (552, 0.1920889620576415),
 (553, 0.023933399289577127),
 (554, 0.20025063706783053),
 (555, 0.015076532862248153),
 (556, 0.05144282019851702),
 (557, 0.12333680291383342),
 (558, 0.14201659839857333),
 (559, 0.024720785609384784),
 (560, 0.08563805381851426),
 (561, 0.023634261138311616),
 (562, 0.1279402426979562),
 (563, 0.01083152786792504),
 (564, 0.07352435567112062),
 (565, 0.09532519178944057),
 (566, 0.03421894679431926),
 (567, 0.0719421185191427),
 (568, 0.022970785411852147),
 (569, 0.15344079020689355),
 (570, 0.08856301637769422),
 (571, 0.0),
 (572, 0.0),
 (573, 0.018786559700050654),
 (574, 0.09772941568150427),
 (575, 0.044043586511889346),
 (576, 0.15211972188253267),
 (577, 0.015222501642298877),
 (578, 0.10307399310158656),
 (579, 0.057157891413611744),
 (580, 0.046000562607200646),
 (581, 0.06303898971663935),
 (582, 0.06572303470837207),
 (583, 0.14421330855040418),
 (584, 0.08272478073987326),
 (585, 0.0),
 (586, 0.04203701143606598),
 (587, 0.022760772453994885),
 (588, 0.1738182944100774),
 (589, 0.019099672781938637),
 (590, 0.16000267935045498),
 (591, 0.14681485749917436),
 (592, 0.0),
 (593, 0.05940546334243634),
 (594, 0.07725115117942094),
 (595, 0.07464762808145006),
 (596, 0.06546695823953794),
 (597, 0.07021576771146076),
 (598, 0.18921367782346202),
 (599, 0.02494136129371724),
 (600, 0.017050265851722604),
 (601, 0.05437622462310082),
 (602, 0.04932819154504025),
 (603, 0.0),
 (604, 0.1144539948977886),
 (605, 0.08001595368794219),
 (606, 0.1285851502948571),
 (607, 0.023066582966561253),
 (608, 0.06129105448105361),
 (609, 0.02090768582511093),
 (610, 0.04550867061591275),
 (611, 0.10266590131312461),
 (612, 0.10725981836116358),
 (613, 0.026053401473749117),
 (614, 0.0017370894470936135),
 (615, 0.09872940458571848),
 (616, 0.0807748212690039),
 (617, 0.02159225803102367),
 (618, 0.016142753550857224),
 (619, 0.020846396819831855),
 (620, 0.09797466122629746),
 (621, 0.019067312487474012),
 (622, 0.18571699439818884),
 (623, 0.053445774200822666),
 (624, 0.18925313707609975),
 (625, 0.05894189200911533),
 (626, 0.014881608648267744),
 (627, 0.12024780353669523),
 (628, 0.09840359079895453),
 (629, 0.010481255663709239),
 (630, 0.10596223905942811),
 (631, 0.07617194789896939),
 (632, 0.08054389803075192),
 (633, 0.0),
 (634, 0.23299389358170397),
 (635, 0.01073641547918824),
 (636, 0.13573542468856645),
 (637, 0.045785523306335146),
 (638, 0.14440017099395475),
 (639, 0.0),
 (640, 0.12522954271046705),
 (641, 0.06455010070487521),
 (642, 0.02817521704586765),
 (643, 0.1444555917585842),
 (644, 0.017210453378914768),
 (645, 0.09508161331593905),
 (646, 0.05179020017229585),
 (647, 0.1841081817659337),
 (648, 0.08704223712018071),
 (649, 0.10990764051155277),
 (650, 0.10850377176901974),
 (651, 0.03954864515701187),
 (652, 0.03836309816637586),
 (653, 0.02463490862737704),
 (654, 0.07845404559691257),
 (655, 0.03455547895208963),
 (656, 0.030076807297674774),
 (657, 0.024840764583155147),
 (658, 0.04223674045619745),
 (659, 0.14444516556944695),
 (660, 0.12340233502840114),
 (661, 0.015102006885841438),
 (662, 0.028443700563612766),
 (663, 0.021320163671431275),
 (664, 0.07391777683093743),
 (665, 0.08904275766583061),
 (666, 0.1589387141616799),
 (667, 0.06947573726333098),
 (668, 0.010607867311865709),
 (669, 0.0),
 (670, 0.09993168845101595),
 (671, 0.05711356172333468),
 (672, 0.09488374038474037),
 (673, 0.009489432211152974),
 (674, 0.13365875731715243),
 (675, 0.057940637804840725),
 (676, 0.0),
 (677, 0.0672128392842741),
 (678, 0.020669978441948792),
 (679, 0.0),
 (680, 0.018394279624570017),
 (681, 0.0),
 (682, 0.1265536444037226),
 (683, 0.08418288167449578),
 (684, 0.09095705260744957),
 (685, 0.007305889033771798),
 (686, 0.08143881222401984),
 (687, 0.0),
 (688, 0.042188025333763236),
 (689, 0.0839284865111645),
 (690, 0.07785800873431292),
 (691, 0.0),
 (692, 0.07151793939760116),
 (693, 0.02407593195976403),
 (694, 0.016351262734144115),
 (695, 0.03734566872286401),
 (696, 0.05237226614377158),
 (697, 0.011401692977613393),
 (698, 0.009687245558530464),
 (699, 0.12530648498478347),
 (700, 0.009099054369341325),
 (701, 0.05864096359154978),
 (702, 0.017696441246693336),
 (703, 0.12110366748083307),
 (704, 0.07347566833900478),
 (705, 0.04316045784191231)]

In [82]:
sorted(list(enumerate(similarity[0])), reverse = True)

[(705, 0.04316045784191231),
 (704, 0.07347566833900478),
 (703, 0.12110366748083307),
 (702, 0.017696441246693336),
 (701, 0.05864096359154978),
 (700, 0.009099054369341325),
 (699, 0.12530648498478347),
 (698, 0.009687245558530464),
 (697, 0.011401692977613393),
 (696, 0.05237226614377158),
 (695, 0.03734566872286401),
 (694, 0.016351262734144115),
 (693, 0.02407593195976403),
 (692, 0.07151793939760116),
 (691, 0.0),
 (690, 0.07785800873431292),
 (689, 0.0839284865111645),
 (688, 0.042188025333763236),
 (687, 0.0),
 (686, 0.08143881222401984),
 (685, 0.007305889033771798),
 (684, 0.09095705260744957),
 (683, 0.08418288167449578),
 (682, 0.1265536444037226),
 (681, 0.0),
 (680, 0.018394279624570017),
 (679, 0.0),
 (678, 0.020669978441948792),
 (677, 0.0672128392842741),
 (676, 0.0),
 (675, 0.057940637804840725),
 (674, 0.13365875731715243),
 (673, 0.009489432211152974),
 (672, 0.09488374038474037),
 (671, 0.05711356172333468),
 (670, 0.09993168845101595),
 (669, 0.0),
 (668, 0.010607867311865709),
 (667, 0.06947573726333098),
 (666, 0.1589387141616799),
 (665, 0.08904275766583061),
 (664, 0.07391777683093743),
 (663, 0.021320163671431275),
 (662, 0.028443700563612766),
 (661, 0.015102006885841438),
 (660, 0.12340233502840114),
 (659, 0.14444516556944695),
 (658, 0.04223674045619745),
 (657, 0.024840764583155147),
 (656, 0.030076807297674774),
 (655, 0.03455547895208963),
 (654, 0.07845404559691257),
 (653, 0.02463490862737704),
 (652, 0.03836309816637586),
 (651, 0.03954864515701187),
 (650, 0.10850377176901974),
 (649, 0.10990764051155277),
 (648, 0.08704223712018071),
 (647, 0.1841081817659337),
 (646, 0.05179020017229585),
 (645, 0.09508161331593905),
 (644, 0.017210453378914768),
 (643, 0.1444555917585842),
 (642, 0.02817521704586765),
 (641, 0.06455010070487521),
 (640, 0.12522954271046705),
 (639, 0.0),
 (638, 0.14440017099395475),
 (637, 0.045785523306335146),
 (636, 0.13573542468856645),
 (635, 0.01073641547918824),
 (634, 0.23299389358170397),
 (633, 0.0),
 (632, 0.08054389803075192),
 (631, 0.07617194789896939),
 (630, 0.10596223905942811),
 (629, 0.010481255663709239),
 (628, 0.09840359079895453),
 (627, 0.12024780353669523),
 (626, 0.014881608648267744),
 (625, 0.05894189200911533),
 (624, 0.18925313707609975),
 (623, 0.053445774200822666),
 (622, 0.18571699439818884),
 (621, 0.019067312487474012),
 (620, 0.09797466122629746),
 (619, 0.020846396819831855),
 (618, 0.016142753550857224),
 (617, 0.02159225803102367),
 (616, 0.0807748212690039),
 (615, 0.09872940458571848),
 (614, 0.0017370894470936135),
 (613, 0.026053401473749117),
 (612, 0.10725981836116358),
 (611, 0.10266590131312461),
 (610, 0.04550867061591275),
 (609, 0.02090768582511093),
 (608, 0.06129105448105361),
 (607, 0.023066582966561253),
 (606, 0.1285851502948571),
 (605, 0.08001595368794219),
 (604, 0.1144539948977886),
 (603, 0.0),
 (602, 0.04932819154504025),
 (601, 0.05437622462310082),
 (600, 0.017050265851722604),
 (599, 0.02494136129371724),
 (598, 0.18921367782346202),
 (597, 0.07021576771146076),
 (596, 0.06546695823953794),
 (595, 0.07464762808145006),
 (594, 0.07725115117942094),
 (593, 0.05940546334243634),
 (592, 0.0),
 (591, 0.14681485749917436),
 (590, 0.16000267935045498),
 (589, 0.019099672781938637),
 (588, 0.1738182944100774),
 (587, 0.022760772453994885),
 (586, 0.04203701143606598),
 (585, 0.0),
 (584, 0.08272478073987326),
 (583, 0.14421330855040418),
 (582, 0.06572303470837207),
 (581, 0.06303898971663935),
 (580, 0.046000562607200646),
 (579, 0.057157891413611744),
 (578, 0.10307399310158656),
 (577, 0.015222501642298877),
 (576, 0.15211972188253267),
 (575, 0.044043586511889346),
 (574, 0.09772941568150427),
 (573, 0.018786559700050654),
 (572, 0.0),
 (571, 0.0),
 (570, 0.08856301637769422),
 (569, 0.15344079020689355),
 (568, 0.022970785411852147),
 (567, 0.0719421185191427),
 (566, 0.03421894679431926),
 (565, 0.09532519178944057),
 (564, 0.07352435567112062),
 (563, 0.01083152786792504),
 (562, 0.1279402426979562),
 (561, 0.023634261138311616),
 (560, 0.08563805381851426),
 (559, 0.024720785609384784),
 (558, 0.14201659839857333),
 (557, 0.12333680291383342),
 (556, 0.05144282019851702),
 (555, 0.015076532862248153),
 (554, 0.20025063706783053),
 (553, 0.023933399289577127),
 (552, 0.1920889620576415),
 (551, 0.2262639743141286),
 (550, 0.1445684727872654),
 (549, 0.0691101496608291),
 (548, 0.04133585716291763),
 (547, 0.05600272988869),
 (546, 0.18408910419891056),
 (545, 0.2639619371123496),
 (544, 0.1672877700938274),
 (543, 0.017396246144706713),
 (542, 0.08007284499901246),
 (541, 0.17990898085771032),
 (540, 0.08541217689607684),
 (539, 0.011722012964226876),
 (538, 0.07213921021695388),
 (537, 0.17008719986228352),
 (536, 0.08280451731096075),
 (535, 0.07052240553428667),
 (534, 0.06476148889541151),
 (533, 0.023175154774464087),
 (532, 0.021801683645525486),
 (531, 0.09596456280564838),
 (530, 0.06123118935155921),
 (529, 0.03499381360818396),
 (528, 0.06306425554305627),
 (527, 0.19656287691544355),
 (526, 0.0),
 (525, 0.06738056011305654),
 (524, 0.057560148077814344),
 (523, 0.0),
 (522, 0.08062879942666365),
 (521, 0.0228620664348094),
 (520, 0.19972624710300058),
 (519, 0.0),
 (518, 0.13369059478865902),
 (517, 0.08200947294838495),
 (516, 0.06868983304237651),
 (515, 0.11277296885857815),
 (514, 0.0928435169211848),
 (513, 0.08588206473402643),
 (512, 0.11784149206441577),
 (511, 0.13617057407600314),
 (510, 0.020935646634428463),
 (509, 0.024318094429406693),
 (508, 0.016265641643564675),
 (507, 0.06790897506872169),
 (506, 0.07242165076731459),
 (505, 0.05264856975654457),
 (504, 0.07276403383736725),
 (503, 0.02646255704581015),
 (502, 0.043491562429456586),
 (501, 0.058097069301565475),
 (500, 0.21057743765309012),
 (499, 0.011952011165403655),
 (498, 0.0),
 (497, 0.018252769789423258),
 (496, 0.046392498261486066),
 (495, 0.11400426236261282),
 (494, 0.10853661984252007),
 (493, 0.0),
 (492, 0.0),
 (491, 0.06401961292305569),
 (490, 0.06513046875777172),
 (489, 0.11494879598141551),
 (488, 0.19511819825564608),
 (487, 0.051616531477964966),
 (486, 0.06143184266443724),
 (485, 0.05428487095514969),
 (484, 0.07150547342980032),
 (483, 0.00581843892000093),
 (482, 0.13090710604063543),
 (481, 0.08100800937525751),
 (480, 0.0),
 (479, 0.05438295377092604),
 (478, 0.017598641856748937),
 (477, 0.0),
 (476, 0.16104067376144765),
 (475, 0.04796762686649386),
 (474, 0.13644383961641227),
 (473, 0.0),
 (472, 0.0755468596127809),
 (471, 0.0),
 (470, 0.10800615252570414),
 (469, 0.060877194204984726),
 (468, 0.0),
 (467, 0.05666140304625101),
 (466, 0.05143480653633815),
 (465, 0.11122764671322921),
 (464, 0.04757132169040053),
 (463, 0.0035883533320389396),
 (462, 0.08091989315700655),
 (461, 0.09919937023309428),
 (460, 0.0171880657878069),
 (459, 0.10354480865656568),
 (458, 0.07348190409223959),
 (457, 0.048593102089385304),
 (456, 0.0),
 (455, 0.0),
 (454, 0.01317087876205714),
 (453, 0.05261953990010256),
 (452, 0.0),
 (451, 0.0),
 (450, 0.04542765998492866),
 (449, 0.0),
 (448, 0.01915362558614925),
 (447, 0.06523041320455897),
 (446, 0.023049037833599993),
 (445, 0.023007092325074995),
 (444, 0.061398875647666676),
 (443, 0.045977952103493924),
 (442, 0.08033435626539932),
 (441, 0.05332049434044375),
 (440, 0.09005001295005992),
 (439, 0.08988894455657523),
 (438, 0.130281708532021),
 (437, 0.1033826953037451),
 (436, 0.020281245334279798),
 (435, 0.01758928833928951),
 (434, 0.12307492189941618),
 (433, 0.0),
 (432, 0.10228551050235933),
 (431, 0.0992354177657422),
 (430, 0.00875634332679306),
 (429, 0.08982750671022352),
 (428, 0.0),
 (427, 0.0522373263993224),
 (426, 0.04706590154362337),
 (425, 0.04335826491498011),
 (424, 0.028830240654024085),
 (423, 0.0635519690782283),
 (422, 0.08642894687915843),
 (421, 0.0999877199669616),
 (420, 0.12822981990037824),
 (419, 0.021636698437203145),
 (418, 0.07025002832914887),
 (417, 0.01902896010686717),
 (416, 0.0824612198578452),
 (415, 0.0089604367821904),
 (414, 0.025480338679592467),
 (413, 0.011056735115042383),
 (412, 0.019872703940133213),
 (411, 0.02329035016031528),
 (410, 0.12508513698245888),
 (409, 0.1343973311768824),
 (408, 0.0),
 (407, 0.16041182196659062),
 (406, 0.05021880312673623),
 (405, 0.0),
 (404, 0.016763442237401817),
 (403, 0.0),
 (402, 0.10135299399598713),
 (401, 0.015459465622161536),
 (400, 0.08996912406728536),
 (399, 0.0),
 (398, 0.06039873575147915),
 (397, 0.1530551446766823),
 (396, 0.07136276113078666),
 (395, 0.02297481006625077),
 (394, 0.008448763927099017),
 (393, 0.02266096293926825),
 (392, 0.05762086381548707),
 (391, 0.0),
 (390, 0.0),
 (389, 0.06671644037106779),
 (388, 0.0),
 (387, 0.1390419059870689),
 (386, 0.06468143253238315),
 (385, 0.1178980615083171),
 (384, 0.018015801292409934),
 (383, 0.024712941476041382),
 (382, 0.017572862308732076),
 (381, 0.06113178628791212),
 (380, 0.015333681815045101),
 (379, 0.02781406274224919),
 (378, 0.0),
 (377, 0.09132921952528268),
 (376, 0.06829903941402894),
 (375, 0.0),
 (374, 0.13107651944057502),
 (373, 0.09754449459555777),
 (372, 0.021668631362692693),
 (371, 0.05755407693373189),
 (370, 0.017971540540139944),
 (369, 0.060039300152930415),
 (368, 0.02115842407200956),
 (367, 0.0),
 (366, 0.10941777035919222),
 (365, 0.0891233745026412),
 (364, 0.07999692625971765),
 (363, 0.09791273187403503),
 (362, 0.11362722122094872),
 (361, 0.018072383204619496),
 (360, 0.047796293241950796),
 (359, 0.029397384230560795),
 (358, 0.07561631141753603),
 (357, 0.1459525808785892),
 (356, 0.0),
 (355, 0.07161075491687474),
 (354, 0.16337845332530374),
 (353, 0.07843565693314272),
 (352, 0.020059585724360268),
 (351, 0.0),
 (350, 0.06206857320564754),
 (349, 0.05914734917065386),
 (348, 0.09014973218560086),
 (347, 0.06681045925540752),
 (346, 0.03902659506471766),
 (345, 0.015542921836058245),
 (344, 0.20675540390454),
 (343, 0.009536746594659161),
 (342, 0.011948245768325256),
 (341, 0.020767833514212724),
 (340, 0.0),
 (339, 0.02946442510264468),
 (338, 0.021530886296301118),
 (337, 0.010632508151830204),
 (336, 0.0),
 (335, 0.0),
 (334, 0.15293362041446346),
 (333, 0.021774817728178283),
 (332, 0.018319772326554337),
 (331, 0.08474055728984814),
 (330, 0.07652764821891074),
 (329, 0.026674838717939867),
 (328, 0.035498355256648746),
 (327, 0.10266459423639845),
 (326, 0.12468283384023092),
 (325, 0.016834621675675482),
 (324, 0.10467615354986062),
 (323, 0.10084626149563478),
 (322, 0.0700882246357741),
 (321, 0.03054044240047009),
 (320, 0.017303468493582226),
 (319, 0.02267512161790004),
 (318, 0.19182230688281934),
 (317, 0.04005551020725377),
 (316, 0.08951389572154368),
 (315, 0.0),
 (314, 0.025808491020821493),
 (313, 0.010423913217045038),
 (312, 0.1238906533021012),
 (311, 0.0),
 (310, 0.07437756212042423),
 (309, 0.17415730924332484),
 (308, 0.0),
 (307, 0.0979064447776707),
 (306, 0.04809338200514574),
 (305, 0.13445376799866068),
 (304, 0.01858409288796079),
 (303, 0.11979305199464946),
 (302, 0.1428139852200272),
 (301, 0.07866868132289853),
 (300, 0.06541867556977009),
 (299, 0.022424955017243866),
 (298, 0.029430847399312027),
 (297, 0.04433882752568145),
 (296, 0.08608600626732467),
 (295, 0.012608239194211564),
 (294, 0.019788442258843547),
 (293, 0.13974104783917973),
 (292, 0.011778242975805127),
 (291, 0.06069830203664196),
 (290, 0.0),
 (289, 0.06520605980064662),
 (288, 0.02482518222135733),
 (287, 0.0),
 (286, 0.12548312467838352),
 (285, 0.024141217209915328),
 (284, 0.020221447157344582),
 (283, 0.028806369616477166),
 (282, 0.00885998445194921),
 (281, 0.08673968616705958),
 (280, 0.04549923467689111),
 (279, 0.021238372796229556),
 (278, 0.014679640011206505),
 (277, 0.04799058127298857),
 (276, 0.07885279086963545),
 (275, 0.08781992709390865),
 (274, 0.0),
 (273, 0.0),
 (272, 0.029876534978291205),
 (271, 0.06795352889900172),
 (270, 0.08466191294337998),
 (269, 0.1650329228149958),
 (268, 0.03482458685305275),
 (267, 0.04504597870526374),
 (266, 0.0),
 (265, 0.018611497829688243),
 (264, 0.055102704646119355),
 (263, 0.0),
 (262, 0.13257638388225185),
 (261, 0.10174252819190155),
 (260, 0.019598256153707194),
 (259, 0.04815971759587031),
 (258, 0.026330228561191004),
 (257, 0.016216682151444957),
 (256, 0.049300912125160704),
 (255, 0.11841889291663141),
 (254, 0.07423488726781508),
 (253, 0.13510607638008787),
 (252, 0.012345246102533871),
 (251, 0.13974513728492968),
 (250, 0.08294512991462386),
 (249, 0.046982457315643385),
 (248, 0.0),
 (247, 0.02040796206066411),
 (246, 0.0),
 (245, 0.08422557655984436),
 (244, 0.07839488163675291),
 (243, 0.11784705785247843),
 (242, 0.020321161226731627),
 (241, 0.06806264765162154),
 (240, 0.019033695446023926),
 (239, 0.021353685011361416),
 (238, 0.03349154464789058),
 (237, 0.0),
 (236, 0.024635927968282654),
 (235, 0.02033558874805688),
 (234, 0.01559751952620105),
 (233, 0.03601739518550193),
 (232, 0.06426525769208898),
 (231, 0.0757441443938586),
 (230, 0.10266993316420167),
 (229, 0.05416091103251691),
 (228, 0.09746696979819942),
 (227, 0.07458136399603107),
 (226, 0.03709430441334803),
 (225, 0.1528098402276361),
 (224, 0.03671505063990275),
 (223, 0.0),
 (222, 0.0),
 (221, 0.00272862336930817),
 (220, 0.024337026385897676),
 (219, 0.12177532243608828),
 (218, 0.0820594460339464),
 (217, 0.08784690368235953),
 (216, 0.12338216998991305),
 (215, 0.0842069105937096),
 (214, 0.15570975499937129),
 (213, 0.04773328410790857),
 (212, 0.06388401351716998),
 (211, 0.09203038690315052),
 (210, 0.0),
 (209, 0.034785003361519164),
 (208, 0.053729841666378134),
 (207, 0.059152881703632795),
 (206, 0.13278139031675887),
 (205, 0.10849696385128584),
 (204, 0.047717402129725514),
 (203, 0.05141892092902459),
 (202, 0.18049207281616433),
 (201, 0.0),
 (200, 0.024601653277066596),
 (199, 0.011474570339750256),
 (198, 0.08992738703666601),
 (197, 0.12871083086643306),
 (196, 0.06609996896203728),
 (195, 0.09794374510256892),
 (194, 0.1035963528100001),
 (193, 0.020860053643757807),
 (192, 0.14691166711955864),
 (191, 0.0),
 (190, 0.05994663767295999),
 (189, 0.036498718026030004),
 (188, 0.011116365315772406),
 (187, 0.07262017448772083),
 (186, 0.05400331245399732),
 (185, 0.020135489410098205),
 (184, 0.02190023295408395),
 (183, 0.09673267751838878),
 (182, 0.015158449197584845),
 (181, 0.22222254415660225),
 (180, 0.01962921144060071),
 (179, 0.0),
 (178, 0.03643816906953526),
 (177, 0.03199916313406436),
 (176, 0.0),
 (175, 0.05606788035530558),
 (174, 0.14909595195082756),
 (173, 0.0),
 (172, 0.027418756526771074),
 (171, 0.025783211586063344),
 (170, 0.06087281632872059),
 (169, 0.1470284656227732),
 (168, 0.01432863977616057),
 (167, 0.026674838717939867),
 (166, 0.018873932015163516),
 (165, 0.012179056920074677),
 (164, 0.07477661367406771),
 (163, 0.04003333547158616),
 (162, 0.012814117802391826),
 (161, 0.0),
 (160, 0.04515898041752436),
 (159, 0.00882242400686552),
 (158, 0.07835976130061303),
 (157, 0.0),
 (156, 0.014112489355409683),
 (155, 0.09428288870384942),
 (154, 0.05007429159938883),
 (153, 0.1414518615569236),
 (152, 0.09898722239993361),
 (151, 0.10684794535545848),
 (150, 0.027667475691473428),
 (149, 0.10341190148072846),
 (148, 0.021276714965680187),
 (147, 0.05995157134958024),
 (146, 0.0),
 (145, 0.028808272598853126),
 (144, 0.0181287703514146),
 (143, 0.0),
 (142, 0.0),
 (141, 0.028108399645259814),
 (140, 0.024108621631248803),
 (139, 0.016901518597837405),
 (138, 0.0),
 (137, 0.09974980034668829),
 (136, 0.030678189040978528),
 (135, 0.02428501142412964),
 (134, 0.0),
 (133, 0.0),
 (132, 0.0),
 (131, 0.07258934796997447),
 (130, 0.016719816747289874),
 (129, 0.010066425112509755),
 (128, 0.04734092759216691),
 (127, 0.03355602562283),
 (126, 0.02955369248311012),
 (125, 0.059363300295016304),
 (124, 0.03771888280719047),
 (123, 0.07458202717929566),
 (122, 0.056554138733275305),
 (121, 0.08139488796880032),
 (120, 0.06237453600241552),
 (119, 0.15514318804365945),
 (118, 0.165272766123669),
 (117, 0.1103944810687539),
 (116, 0.01579666260459111),
 (115, 0.0),
 (114, 0.03734566872286401),
 (113, 0.017527779718968118),
 (112, 0.07422249010392888),
 (111, 0.02097867986921867),
 (110, 0.021163446843373374),
 (109, 0.06524573363186935),
 (108, 0.02810009706063171),
 (107, 0.05273164983675109),
 (106, 0.047670497142785574),
 (105, 0.0),
 (104, 0.06510721558252526),
 (103, 0.058191840680734276),
 (102, 0.04768602689229997),
 (101, 0.12114265984279052),
 (100, 0.016016629607635186),
 (99, 0.0),
 (98, 0.02175821065382328),
 (97, 0.02687778911799567),
 (96, 0.02114858980511902),
 (95, 0.025797824097510556),
 (94, 0.010689154840164533),
 (93, 0.03280520241000348),
 (92, 0.1585082118281064),
 (91, 0.0),
 (90, 0.06715432766232284),
 (89, 0.00850895140653615),
 (88, 0.08331012208964668),
 (87, 0.11661082872914152),
 (86, 0.1417627291694863),
 (85, 0.06167753120046458),
 (84, 0.1039794092420736),
 (83, 0.0),
 (82, 0.2366937434740099),
 (81, 0.013634576553468258),
 (80, 0.03349456939792139),
 (79, 0.10519138203342883),
 (78, 0.013316271087745269),
 (77, 0.06876130890656589),
 (76, 0.02613276804655889),
 (75, 0.04521795287053612),
 (74, 0.02806606106883051),
 (73, 0.1096807501418389),
 (72, 0.0),
 (71, 0.0),
 (70, 0.0),
 (69, 0.06615478064452682),
 (68, 0.13357242093379193),
 (67, 0.0),
 (66, 0.16566734565340113),
 (65, 0.12680124740531368),
 (64, 0.04279501979786338),
 (63, 0.029845724311982225),
 (62, 0.012406560213354146),
 (61, 0.0),
 (60, 0.18908176672188648),
 (59, 0.052194792200893965),
 (58, 0.07877058635507732),
 (57, 0.005579638588454276),
 (56, 0.056290668459108455),
 (55, 0.0),
 (54, 0.019208718234636258),
 (53, 0.044680983219421905),
 (52, 0.0),
 (51, 0.06748675491514017),
 (50, 0.08958834926611466),
 (49, 0.060160461842087495),
 (48, 0.09779122591837026),
 (47, 0.2702651417103732),
 (46, 0.054850498513470236),
 (45, 0.05491435163039676),
 (44, 0.08785938150991274),
 (43, 0.08471898090442946),
 (42, 0.08354155383339157),
 (41, 0.056912401804646934),
 (40, 0.11679968613719667),
 (39, 0.07984012108659384),
 (38, 0.026104653172312028),
 (37, 0.018230696811058135),
 (36, 0.09495937740802214),
 (35, 0.01556270914112474),
 (34, 0.04522616573040869),
 (33, 0.07965814289647455),
 (32, 0.0),
 (31, 0.01473221255132234),
 (30, 0.007680459111722776),
 (29, 0.12167133598776537),
 (28, 0.07600327535501016),
 (27, 0.13658680855472938),
 (26, 0.07009814362931202),
 (25, 0.0),
 (24, 0.08723968326958673),
 (23, 0.06150451339525138),
 (22, 0.07847534327232125),
 (21, 0.14333792815336935),
 (20, 0.0),
 (19, 0.11706383185253948),
 (18, 0.025177841632809915),
 (17, 0.051004105100675136),
 (16, 0.1115354275858341),
 (15, 0.08303111691811028),
 (14, 0.13388864701187034),
 (13, 0.09673734976610586),
 (12, 0.020839782065795794),
 (11, 0.06766486753662343),
 (10, 0.02322418425912186),
 (9, 0.03667590746512177),
 (8, 0.03261686350494277),
 (7, 0.13732869060263378),
 (6, 0.08216491130000354),
 (5, 0.027749013024662858),
 (4, 0.053672244225442485),
 (3, 0.0),
 (2, 0.012208555646509366),
 (1, 0.10255024829874465),
 (0, 0.9999999999999998)]

In [83]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x : x[1])

[(0, 0.9999999999999998),
 (47, 0.2702651417103732),
 (545, 0.2639619371123496),
 (82, 0.2366937434740099),
 (634, 0.23299389358170397),
 (551, 0.2262639743141286),
 (181, 0.22222254415660225),
 (500, 0.21057743765309012),
 (344, 0.20675540390454),
 (554, 0.20025063706783053),
 (520, 0.19972624710300058),
 (527, 0.19656287691544355),
 (488, 0.19511819825564608),
 (552, 0.1920889620576415),
 (318, 0.19182230688281934),
 (624, 0.18925313707609975),
 (598, 0.18921367782346202),
 (60, 0.18908176672188648),
 (622, 0.18571699439818884),
 (647, 0.1841081817659337),
 (546, 0.18408910419891056),
 (202, 0.18049207281616433),
 (541, 0.17990898085771032),
 (309, 0.17415730924332484),
 (588, 0.1738182944100774),
 (537, 0.17008719986228352),
 (544, 0.1672877700938274),
 (66, 0.16566734565340113),
 (118, 0.165272766123669),
 (269, 0.1650329228149958),
 (354, 0.16337845332530374),
 (476, 0.16104067376144765),
 (407, 0.16041182196659062),
 (590, 0.16000267935045498),
 (666, 0.1589387141616799),
 (92, 0.1585082118281064),
 (214, 0.15570975499937129),
 (119, 0.15514318804365945),
 (569, 0.15344079020689355),
 (397, 0.1530551446766823),
 (334, 0.15293362041446346),
 (225, 0.1528098402276361),
 (576, 0.15211972188253267),
 (174, 0.14909595195082756),
 (169, 0.1470284656227732),
 (192, 0.14691166711955864),
 (591, 0.14681485749917436),
 (357, 0.1459525808785892),
 (550, 0.1445684727872654),
 (643, 0.1444555917585842),
 (659, 0.14444516556944695),
 (638, 0.14440017099395475),
 (583, 0.14421330855040418),
 (21, 0.14333792815336935),
 (302, 0.1428139852200272),
 (558, 0.14201659839857333),
 (86, 0.1417627291694863),
 (153, 0.1414518615569236),
 (251, 0.13974513728492968),
 (293, 0.13974104783917973),
 (387, 0.1390419059870689),
 (7, 0.13732869060263378),
 (27, 0.13658680855472938),
 (474, 0.13644383961641227),
 (511, 0.13617057407600314),
 (636, 0.13573542468856645),
 (253, 0.13510607638008787),
 (305, 0.13445376799866068),
 (409, 0.1343973311768824),
 (14, 0.13388864701187034),
 (518, 0.13369059478865902),
 (674, 0.13365875731715243),
 (68, 0.13357242093379193),
 (206, 0.13278139031675887),
 (262, 0.13257638388225185),
 (374, 0.13107651944057502),
 (482, 0.13090710604063543),
 (438, 0.130281708532021),
 (197, 0.12871083086643306),
 (606, 0.1285851502948571),
 (420, 0.12822981990037824),
 (562, 0.1279402426979562),
 (65, 0.12680124740531368),
 (682, 0.1265536444037226),
 (286, 0.12548312467838352),
 (699, 0.12530648498478347),
 (640, 0.12522954271046705),
 (410, 0.12508513698245888),
 (326, 0.12468283384023092),
 (312, 0.1238906533021012),
 (660, 0.12340233502840114),
 (216, 0.12338216998991305),
 (557, 0.12333680291383342),
 (434, 0.12307492189941618),
 (219, 0.12177532243608828),
 (29, 0.12167133598776537),
 (101, 0.12114265984279052),
 (703, 0.12110366748083307),
 (627, 0.12024780353669523),
 (303, 0.11979305199464946),
 (255, 0.11841889291663141),
 (385, 0.1178980615083171),
 (243, 0.11784705785247843),
 (512, 0.11784149206441577),
 (19, 0.11706383185253948),
 (40, 0.11679968613719667),
 (87, 0.11661082872914152),
 (489, 0.11494879598141551),
 (604, 0.1144539948977886),
 (495, 0.11400426236261282),
 (362, 0.11362722122094872),
 (515, 0.11277296885857815),
 (16, 0.1115354275858341),
 (465, 0.11122764671322921),
 (117, 0.1103944810687539),
 (649, 0.10990764051155277),
 (73, 0.1096807501418389),
 (366, 0.10941777035919222),
 (494, 0.10853661984252007),
 (650, 0.10850377176901974),
 (205, 0.10849696385128584),
 (470, 0.10800615252570414),
 (612, 0.10725981836116358),
 (151, 0.10684794535545848),
 (630, 0.10596223905942811),
 (79, 0.10519138203342883),
 (324, 0.10467615354986062),
 (84, 0.1039794092420736),
 (194, 0.1035963528100001),
 (459, 0.10354480865656568),
 (149, 0.10341190148072846),
 (437, 0.1033826953037451),
 (578, 0.10307399310158656),
 (230, 0.10266993316420167),
 (611, 0.10266590131312461),
 (327, 0.10266459423639845),
 (1, 0.10255024829874465),
 (432, 0.10228551050235933),
 (261, 0.10174252819190155),
 (402, 0.10135299399598713),
 (323, 0.10084626149563478),
 (421, 0.0999877199669616),
 (670, 0.09993168845101595),
 (137, 0.09974980034668829),
 (431, 0.0992354177657422),
 (461, 0.09919937023309428),
 (152, 0.09898722239993361),
 (615, 0.09872940458571848),
 (628, 0.09840359079895453),
 (620, 0.09797466122629746),
 (195, 0.09794374510256892),
 (363, 0.09791273187403503),
 (307, 0.0979064447776707),
 (48, 0.09779122591837026),
 (574, 0.09772941568150427),
 (373, 0.09754449459555777),
 (228, 0.09746696979819942),
 (13, 0.09673734976610586),
 (183, 0.09673267751838878),
 (531, 0.09596456280564838),
 (565, 0.09532519178944057),
 (645, 0.09508161331593905),
 (36, 0.09495937740802214),
 (672, 0.09488374038474037),
 (155, 0.09428288870384942),
 (514, 0.0928435169211848),
 (211, 0.09203038690315052),
 (377, 0.09132921952528268),
 (684, 0.09095705260744957),
 (348, 0.09014973218560086),
 (440, 0.09005001295005992),
 (400, 0.08996912406728536),
 (198, 0.08992738703666601),
 (439, 0.08988894455657523),
 (429, 0.08982750671022352),
 (50, 0.08958834926611466),
 (316, 0.08951389572154368),
 (365, 0.0891233745026412),
 (665, 0.08904275766583061),
 (570, 0.08856301637769422),
 (44, 0.08785938150991274),
 (217, 0.08784690368235953),
 (275, 0.08781992709390865),
 (24, 0.08723968326958673),
 (648, 0.08704223712018071),
 (281, 0.08673968616705958),
 (422, 0.08642894687915843),
 (296, 0.08608600626732467),
 (513, 0.08588206473402643),
 (560, 0.08563805381851426),
 (540, 0.08541217689607684),
 (331, 0.08474055728984814),
 (43, 0.08471898090442946),
 (270, 0.08466191294337998),
 (245, 0.08422557655984436),
 (215, 0.0842069105937096),
 (683, 0.08418288167449578),
 (689, 0.0839284865111645),
 (42, 0.08354155383339157),
 (88, 0.08331012208964668),
 (15, 0.08303111691811028),
 (250, 0.08294512991462386),
 (536, 0.08280451731096075),
 (584, 0.08272478073987326),
 (416, 0.0824612198578452),
 (6, 0.08216491130000354),
 (218, 0.0820594460339464),
 (517, 0.08200947294838495),
 (686, 0.08143881222401984),
 (121, 0.08139488796880032),
 (481, 0.08100800937525751),
 (462, 0.08091989315700655),
 (616, 0.0807748212690039),
 (522, 0.08062879942666365),
 (632, 0.08054389803075192),
 (442, 0.08033435626539932),
 (542, 0.08007284499901246),
 (605, 0.08001595368794219),
 (364, 0.07999692625971765),
 (39, 0.07984012108659384),
 (33, 0.07965814289647455),
 (276, 0.07885279086963545),
 (58, 0.07877058635507732),
 (301, 0.07866868132289853),
 (22, 0.07847534327232125),
 (654, 0.07845404559691257),
 (353, 0.07843565693314272),
 (244, 0.07839488163675291),
 (158, 0.07835976130061303),
 (690, 0.07785800873431292),
 (594, 0.07725115117942094),
 (330, 0.07652764821891074),
 (631, 0.07617194789896939),
 (28, 0.07600327535501016),
 (231, 0.0757441443938586),
 (358, 0.07561631141753603),
 (472, 0.0755468596127809),
 (164, 0.07477661367406771),
 (595, 0.07464762808145006),
 (123, 0.07458202717929566),
 (227, 0.07458136399603107),
 (310, 0.07437756212042423),
 (254, 0.07423488726781508),
 (112, 0.07422249010392888),
 (664, 0.07391777683093743),
 (564, 0.07352435567112062),
 (458, 0.07348190409223959),
 (704, 0.07347566833900478),
 (504, 0.07276403383736725),
 (187, 0.07262017448772083),
 (131, 0.07258934796997447),
 (506, 0.07242165076731459),
 (538, 0.07213921021695388),
 (567, 0.0719421185191427),
 (355, 0.07161075491687474),
 (692, 0.07151793939760116),
 (484, 0.07150547342980032),
 (396, 0.07136276113078666),
 (535, 0.07052240553428667),
 (418, 0.07025002832914887),
 (597, 0.07021576771146076),
 (26, 0.07009814362931202),
 (322, 0.0700882246357741),
 (667, 0.06947573726333098),
 (549, 0.0691101496608291),
 (77, 0.06876130890656589),
 (516, 0.06868983304237651),
 (376, 0.06829903941402894),
 (241, 0.06806264765162154),
 (271, 0.06795352889900172),
 (507, 0.06790897506872169),
 (11, 0.06766486753662343),
 (51, 0.06748675491514017),
 (525, 0.06738056011305654),
 (677, 0.0672128392842741),
 (90, 0.06715432766232284),
 (347, 0.06681045925540752),
 (389, 0.06671644037106779),
 (69, 0.06615478064452682),
 (196, 0.06609996896203728),
 (582, 0.06572303470837207),
 (596, 0.06546695823953794),
 (300, 0.06541867556977009),
 (109, 0.06524573363186935),
 (447, 0.06523041320455897),
 (289, 0.06520605980064662),
 (490, 0.06513046875777172),
 (104, 0.06510721558252526),
 (534, 0.06476148889541151),
 (386, 0.06468143253238315),
 (641, 0.06455010070487521),
 (232, 0.06426525769208898),
 (491, 0.06401961292305569),
 (212, 0.06388401351716998),
 (423, 0.0635519690782283),
 (528, 0.06306425554305627),
 (581, 0.06303898971663935),
 (120, 0.06237453600241552),
 (350, 0.06206857320564754),
 (85, 0.06167753120046458),
 (23, 0.06150451339525138),
 (486, 0.06143184266443724),
 (444, 0.061398875647666676),
 (608, 0.06129105448105361),
 (530, 0.06123118935155921),
 (381, 0.06113178628791212),
 (469, 0.060877194204984726),
 (170, 0.06087281632872059),
 (291, 0.06069830203664196),
 (398, 0.06039873575147915),
 (49, 0.060160461842087495),
 (369, 0.060039300152930415),
 (147, 0.05995157134958024),
 (190, 0.05994663767295999),
 (593, 0.05940546334243634),
 (125, 0.059363300295016304),
 (207, 0.059152881703632795),
 (349, 0.05914734917065386),
 (625, 0.05894189200911533),
 (701, 0.05864096359154978),
 (103, 0.058191840680734276),
 (501, 0.058097069301565475),
 (675, 0.057940637804840725),
 (392, 0.05762086381548707),
 (524, 0.057560148077814344),
 (371, 0.05755407693373189),
 (579, 0.057157891413611744),
 (671, 0.05711356172333468),
 (41, 0.056912401804646934),
 (467, 0.05666140304625101),
 (122, 0.056554138733275305),
 (56, 0.056290668459108455),
 (175, 0.05606788035530558),
 (547, 0.05600272988869),
 (264, 0.055102704646119355),
 (45, 0.05491435163039676),
 (46, 0.054850498513470236),
 (479, 0.05438295377092604),
 (601, 0.05437622462310082),
 (485, 0.05428487095514969),
 (229, 0.05416091103251691),
 (186, 0.05400331245399732),
 (208, 0.053729841666378134),
 (4, 0.053672244225442485),
 (623, 0.053445774200822666),
 (441, 0.05332049434044375),
 (107, 0.05273164983675109),
 (505, 0.05264856975654457),
 (453, 0.05261953990010256),
 (696, 0.05237226614377158),
 (427, 0.0522373263993224),
 (59, 0.052194792200893965),
 (646, 0.05179020017229585),
 (487, 0.051616531477964966),
 (556, 0.05144282019851702),
 (466, 0.05143480653633815),
 (203, 0.05141892092902459),
 (17, 0.051004105100675136),
 (406, 0.05021880312673623),
 (154, 0.05007429159938883),
 (602, 0.04932819154504025),
 (256, 0.049300912125160704),
 (457, 0.048593102089385304),
 (259, 0.04815971759587031),
 (306, 0.04809338200514574),
 (277, 0.04799058127298857),
 (475, 0.04796762686649386),
 (360, 0.047796293241950796),
 (213, 0.04773328410790857),
 (204, 0.047717402129725514),
 (102, 0.04768602689229997),
 (106, 0.047670497142785574),
 (464, 0.04757132169040053),
 (128, 0.04734092759216691),
 (426, 0.04706590154362337),
 (249, 0.046982457315643385),
 (496, 0.046392498261486066),
 (580, 0.046000562607200646),
 (443, 0.045977952103493924),
 (637, 0.045785523306335146),
 (610, 0.04550867061591275),
 (280, 0.04549923467689111),
 (450, 0.04542765998492866),
 (34, 0.04522616573040869),
 (75, 0.04521795287053612),
 (160, 0.04515898041752436),
 (267, 0.04504597870526374),
 (53, 0.044680983219421905),
 (297, 0.04433882752568145),
 (575, 0.044043586511889346),
 (502, 0.043491562429456586),
 (425, 0.04335826491498011),
 (705, 0.04316045784191231),
 (64, 0.04279501979786338),
 (658, 0.04223674045619745),
 (688, 0.042188025333763236),
 (586, 0.04203701143606598),
 (548, 0.04133585716291763),
 (317, 0.04005551020725377),
 (163, 0.04003333547158616),
 (651, 0.03954864515701187),
 (346, 0.03902659506471766),
 (652, 0.03836309816637586),
 (124, 0.03771888280719047),
 (114, 0.03734566872286401),
 (695, 0.03734566872286401),
 (226, 0.03709430441334803),
 (224, 0.03671505063990275),
 (9, 0.03667590746512177),
 (189, 0.036498718026030004),
 (178, 0.03643816906953526),
 (233, 0.03601739518550193),
 (328, 0.035498355256648746),
 (529, 0.03499381360818396),
 (268, 0.03482458685305275),
 (209, 0.034785003361519164),
 (655, 0.03455547895208963),
 (566, 0.03421894679431926),
 (127, 0.03355602562283),
 (80, 0.03349456939792139),
 (238, 0.03349154464789058),
 (93, 0.03280520241000348),
 (8, 0.03261686350494277),
 (177, 0.03199916313406436),
 (136, 0.030678189040978528),
 (321, 0.03054044240047009),
 (656, 0.030076807297674774),
 (272, 0.029876534978291205),
 (63, 0.029845724311982225),
 (126, 0.02955369248311012),
 (339, 0.02946442510264468),
 (298, 0.029430847399312027),
 (359, 0.029397384230560795),
 (424, 0.028830240654024085),
 (145, 0.028808272598853126),
 (283, 0.028806369616477166),
 (662, 0.028443700563612766),
 (642, 0.02817521704586765),
 (141, 0.028108399645259814),
 (108, 0.02810009706063171),
 (74, 0.02806606106883051),
 (379, 0.02781406274224919),
 (5, 0.027749013024662858),
 (150, 0.027667475691473428),
 (172, 0.027418756526771074),
 (97, 0.02687778911799567),
 (167, 0.026674838717939867),
 (329, 0.026674838717939867),
 (503, 0.02646255704581015),
 (258, 0.026330228561191004),
 (76, 0.02613276804655889),
 (38, 0.026104653172312028),
 (613, 0.026053401473749117),
 (314, 0.025808491020821493),
 (95, 0.025797824097510556),
 (171, 0.025783211586063344),
 (414, 0.025480338679592467),
 (18, 0.025177841632809915),
 (599, 0.02494136129371724),
 (657, 0.024840764583155147),
 (288, 0.02482518222135733),
 (559, 0.024720785609384784),
 (383, 0.024712941476041382),
 (236, 0.024635927968282654),
 (653, 0.02463490862737704),
 (200, 0.024601653277066596),
 (220, 0.024337026385897676),
 (509, 0.024318094429406693),
 (135, 0.02428501142412964),
 (285, 0.024141217209915328),
 (140, 0.024108621631248803),
 (693, 0.02407593195976403),
 (553, 0.023933399289577127),
 (561, 0.023634261138311616),
 (411, 0.02329035016031528),
 (10, 0.02322418425912186),
 (533, 0.023175154774464087),
 (607, 0.023066582966561253),
 (446, 0.023049037833599993),
 (445, 0.023007092325074995),
 (395, 0.02297481006625077),
 (568, 0.022970785411852147),
 (521, 0.0228620664348094),
 (587, 0.022760772453994885),
 (319, 0.02267512161790004),
 (393, 0.02266096293926825),
 (299, 0.022424955017243866),
 (184, 0.02190023295408395),
 (532, 0.021801683645525486),
 (333, 0.021774817728178283),
 (98, 0.02175821065382328),
 (372, 0.021668631362692693),
 (419, 0.021636698437203145),
 (617, 0.02159225803102367),
 (338, 0.021530886296301118),
 (239, 0.021353685011361416),
 (663, 0.021320163671431275),
 (148, 0.021276714965680187),
 (279, 0.021238372796229556),
 (110, 0.021163446843373374),
 (368, 0.02115842407200956),
 (96, 0.02114858980511902),
 (111, 0.02097867986921867),
 (510, 0.020935646634428463),
 (609, 0.02090768582511093),
 (193, 0.020860053643757807),
 (619, 0.020846396819831855),
 (12, 0.020839782065795794),
 (341, 0.020767833514212724),
 (678, 0.020669978441948792),
 (247, 0.02040796206066411),
 (235, 0.02033558874805688),
 (242, 0.020321161226731627),
 (436, 0.020281245334279798),
 (284, 0.020221447157344582),
 (185, 0.020135489410098205),
 (352, 0.020059585724360268),
 (412, 0.019872703940133213),
 (294, 0.019788442258843547),
 (180, 0.01962921144060071),
 (260, 0.019598256153707194),
 (54, 0.019208718234636258),
 (448, 0.01915362558614925),
 (589, 0.019099672781938637),
 (621, 0.019067312487474012),
 (240, 0.019033695446023926),
 (417, 0.01902896010686717),
 (166, 0.018873932015163516),
 (573, 0.018786559700050654),
 (265, 0.018611497829688243),
 (304, 0.01858409288796079),
 (680, 0.018394279624570017),
 (332, 0.018319772326554337),
 (497, 0.018252769789423258),
 (37, 0.018230696811058135),
 (144, 0.0181287703514146),
 (361, 0.018072383204619496),
 (384, 0.018015801292409934),
 (370, 0.017971540540139944),
 (702, 0.017696441246693336),
 (478, 0.017598641856748937),
 (435, 0.01758928833928951),
 (382, 0.017572862308732076),
 (113, 0.017527779718968118),
 (543, 0.017396246144706713),
 (320, 0.017303468493582226),
 (644, 0.017210453378914768),
 (460, 0.0171880657878069),
 (600, 0.017050265851722604),
 (139, 0.016901518597837405),
 (325, 0.016834621675675482),
 (404, 0.016763442237401817),
 (130, 0.016719816747289874),
 (694, 0.016351262734144115),
 (508, 0.016265641643564675),
 (257, 0.016216682151444957),
 (618, 0.016142753550857224),
 (100, 0.016016629607635186),
 (116, 0.01579666260459111),
 (234, 0.01559751952620105),
 (35, 0.01556270914112474),
 (345, 0.015542921836058245),
 (401, 0.015459465622161536),
 (380, 0.015333681815045101),
 (577, 0.015222501642298877),
 (182, 0.015158449197584845),
 (661, 0.015102006885841438),
 (555, 0.015076532862248153),
 (626, 0.014881608648267744),
 (31, 0.01473221255132234),
 (278, 0.014679640011206505),
 (168, 0.01432863977616057),
 (156, 0.014112489355409683),
 (81, 0.013634576553468258),
 (78, 0.013316271087745269),
 (454, 0.01317087876205714),
 (162, 0.012814117802391826),
 (295, 0.012608239194211564),
 (62, 0.012406560213354146),
 (252, 0.012345246102533871),
 (2, 0.012208555646509366),
 (165, 0.012179056920074677),
 (499, 0.011952011165403655),
 (342, 0.011948245768325256),
 (292, 0.011778242975805127),
 (539, 0.011722012964226876),
 (199, 0.011474570339750256),
 (697, 0.011401692977613393),
 (188, 0.011116365315772406),
 (413, 0.011056735115042383),
 (563, 0.01083152786792504),
 (635, 0.01073641547918824),
 (94, 0.010689154840164533),
 (337, 0.010632508151830204),
 (668, 0.010607867311865709),
 (629, 0.010481255663709239),
 (313, 0.010423913217045038),
 (129, 0.010066425112509755),
 (698, 0.009687245558530464),
 (343, 0.009536746594659161),
 (673, 0.009489432211152974),
 (700, 0.009099054369341325),
 (415, 0.0089604367821904),
 (282, 0.00885998445194921),
 (159, 0.00882242400686552),
 (430, 0.00875634332679306),
 (89, 0.00850895140653615),
 (394, 0.008448763927099017),
 (30, 0.007680459111722776),
 (685, 0.007305889033771798),
 (483, 0.00581843892000093),
 (57, 0.005579638588454276),
 (463, 0.0035883533320389396),
 (221, 0.00272862336930817),
 (614, 0.0017370894470936135),
 (3, 0.0),
 (20, 0.0),
 (25, 0.0),
 (32, 0.0),
 (52, 0.0),
 (55, 0.0),
 (61, 0.0),
 (67, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (83, 0.0),
 (91, 0.0),
 (99, 0.0),
 (105, 0.0),
 (115, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (138, 0.0),
 (142, 0.0),
 (143, 0.0),
 (146, 0.0),
 (157, 0.0),
 (161, 0.0),
 (173, 0.0),
 (176, 0.0),
 (179, 0.0),
 (191, 0.0),
 (201, 0.0),
 (210, 0.0),
 (222, 0.0),
 (223, 0.0),
 (237, 0.0),
 (246, 0.0),
 (248, 0.0),
 (263, 0.0),
 (266, 0.0),
 (273, 0.0),
 (274, 0.0),
 (287, 0.0),
 (290, 0.0),
 (308, 0.0),
 (311, 0.0),
 (315, 0.0),
 (335, 0.0),
 (336, 0.0),
 (340, 0.0),
 (351, 0.0),
 (356, 0.0),
 (367, 0.0),
 (375, 0.0),
 (378, 0.0),
 (388, 0.0),
 (390, 0.0),
 (391, 0.0),
 (399, 0.0),
 (403, 0.0),
 (405, 0.0),
 (408, 0.0),
 (428, 0.0),
 (433, 0.0),
 (449, 0.0),
 (451, 0.0),
 (452, 0.0),
 (455, 0.0),
 (456, 0.0),
 (468, 0.0),
 (471, 0.0),
 (473, 0.0),
 (477, 0.0),
 (480, 0.0),
 (492, 0.0),
 (493, 0.0),
 (498, 0.0),
 (519, 0.0),
 (523, 0.0),
 (526, 0.0),
 (571, 0.0),
 (572, 0.0),
 (585, 0.0),
 (592, 0.0),
 (603, 0.0),
 (633, 0.0),
 (639, 0.0),
 (669, 0.0),
 (676, 0.0),
 (679, 0.0),
 (681, 0.0),
 (687, 0.0),
 (691, 0.0)]

In [84]:
# Top 5 Similar Books 

sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x : x[1])[1:6]

[(47, 0.2702651417103732),
 (545, 0.2639619371123496),
 (82, 0.2366937434740099),
 (634, 0.23299389358170397),
 (551, 0.2262639743141286)]

In [85]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x : x[1])[1:6][0]

(47, 0.2702651417103732)

In [86]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x : x[1])[1:6][0][0]

47

In [87]:
cf.head(1)

user_id,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
cf.index[0]

'1984'

In [89]:
book_index = list()
book_names = list()

book_list = sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x : x[1])[1:6]

[book_index.append(i[0]) for i in book_list]
    
[book_names.append(cf.index[i]) for i in book_index]
    
display(book_index, book_names)

[47, 545, 82, 634, 551]

['Animal Farm',
 "The Handmaid's Tale",
 'Brave New World',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Hours : A Novel']

In [90]:
np.where(cf.index == title)

(array([0], dtype=int64),)

In [91]:
np.where(cf.index == title)[0]

array([0], dtype=int64)

In [92]:
np.where(cf.index == title)[0][0]

0

In [93]:
def recommend(title):
    index = np.where(cf.index == title)[0][0]
    similar_books = sorted(list(enumerate(similarity[index])), reverse = True, key = lambda x : x[1])[1:6]
    similar_books_indices = [i[0] for i in similar_books]
    
    data = list()
    
    for i in similar_books_indices:
        item = list()
        book_name = cf.index[i]
        temp_df = books[books['book_title'] == book_name]
        item.extend(list(temp_df.drop_duplicates('book_title')['book_title'].values))
        item.extend(list(temp_df.drop_duplicates('book_title')['book_author'].values))
        item.extend(list(temp_df.drop_duplicates('book_title')['image_url_m'].values))
        
        data.append(item)
    
    return data

In [94]:
recommend('The Fellowship of the Ring (The Lord of the Rings, Part 1)')

[['The Two Towers (The Lord of the Rings, Part 2)',
  'J.R.R. TOLKIEN',
  'http://images.amazon.com/images/P/0345339711.01.MZZZZZZZ.jpg'],
 ['The Return of the King (The Lord of the Rings, Part 3)',
  'J.R.R. TOLKIEN',
  'http://images.amazon.com/images/P/0345339738.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Prisoner of Azkaban (Book 3)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Goblet of Fire (Book 4)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Chamber of Secrets (Book 2)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg']]

In [95]:
display(count_rating_title.head(2), avg_rating_title.head(2))

                                          book_title  no_of_ratings
0   A Light in the Storm: The Civil War Diary of ...              4
1                              Always Have Popsicles              1

                                          book_title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00

In [96]:
books = books.drop(columns = ['isbn', 'publisher', 'image_url_s', 'image_url_l'])

In [97]:
books = pd.merge(books, count_rating_title, on = 'book_title', how = 'inner')

In [98]:
books = pd.merge(books, avg_rating_title, on = 'book_title', how = 'inner')

In [99]:
books

,book_title,book_author,year_of_publication,image_url_m,no_of_ratings,avg_rating
0,Classical Mythology,Mark P. O. Morford,2002,http://images.amazon.com/images/P/0195153448.0...,2,3.500000
1,Classical Mythology,Mark P. O. Morford,1998,http://images.amazon.com/images/P/0801319536.0...,2,3.500000
2,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,14,4.928571
3,Decision in Normandy,Carlo D'Este,1991,http://images.amazon.com/images/P/0060973129.0...,3,5.000000
4,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,http://images.amazon.com/images/P/0374157065.0...,11,4.272727
...,...,...,...,...,...,...
270291,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,http://images.amazon.com/images/P/0449906736.0...,1,5.000000
270292,From One to One Hundred,Teri Sloat,1991,http://images.amazon.com/images/P/0525447644.0...,1,4.000000
270293,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,http://images.amazon.com/images/P/006008667X.0...,1,0.000000
270294,Republic (World's Classics),Plato,1996,http://images.amazon.com/images/P/0192126040.0...,1,0.000000
270295,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,http://images.amazon.com/images/P/0767409752.0...,1,0.000000

#### Dumpping Required Things

- **Dumping Datasets**


- popularity_df

- cf

- similarity

- books

In [100]:
# pickle.dump(popularity_df, open('popularity_df.pkl', 'wb'))

# pickle.dump(cf, open('cf.pkl', 'wb'))

# pickle.dump(similarity, open('similarity.pkl', 'wb'))

# pickle.dump(books, open('books.pkl', 'wb'))

In [101]:
# !pip freeze

In [102]:
# pip freeze

In [111]:
pickle.format_version

'4.0'